[2013-02-07 19:13] jbphet opened #1 "This is a test ticket."
Comment #1 - This is a test ticket.

[2013-02-07 19:15] #1 closed, assigned to nobody

[2013-07-12 20:40] ghost opened #2 "CSS file should be removed"
build-an-atom.css (and its reference) should be removed, those settings are handled in Joist now.

[2013-07-12 20:43] samreid opened #3 "Build fails"
The build process is failing.  Here is a transcript that shows that build.sh works for Forces and Motion basics but not for Build an Atom:

[code]

[2013-07-12 20:51] samreid opened #4 "Address JSHint issues"
There are 10+ issues identified by jshint:

[code]

[2013-07-12 21:16] samreid opened #5 "Use inherit to add methods to the prototype"
Current code uses inherit for inheritance but not to add to the prototype, see Particle.js

[code]

instead this could be

[code]

[2013-07-12 21:17] samreid opened #6 "Return the inherit value"
Instead of

[code]

I would recommend to use the return value of inherit like so:

[code]

[2013-07-12 21:18] samreid opened #7 "Remove the extra Gruntfile.js"
There is an extra Gruntfile.js at the top level which is unnecessary and should be removed.

[2013-07-12 21:19] samreid opened #8 "Tidy up imports"
Not a big deal, but since imports cannot be collapsed, it would be good to prune them a bit.  For instance ParticleAtom.js has this unused import:

[code]

[2013-07-12 21:23] samreid opened #9 "Discuss AtomNode constructor"
The AtomNode constructor is currently declared like so:

[code]

It seems odd that:
- the options contain Property instances instead of primitives
- the function is declared as a var instead of a function (requires duplicating the name)
- the property instances are options instead of required parameters (all usage sites currently provide most of the values)
- the values are not stored as fields bu

[2013-07-12 21:29] samreid opened #10 "ternary vs switch"
Not sure why the code in ParticleNode is using switch here instead of ternary ? operator:

[code]

Here is ternary style:

[code]

Or, even better, just a map of the colors (I didn't test this):

[code]

[2013-07-12 21:30] samreid opened #11 "TouchSnag commented out in ParticleView"
Just wondering why TouchSnag is commented out in ParticleView.

[2013-07-12 21:31] samreid opened #12 "BuildAnAtomModel + PropertySet"
Since BuildAnAtomModel declares 4 Property instances, it is a good candidate for using PropertySet instead.  This will unify & simplify access, make sure they reset together, and match style in other code in this project (and in other sims).

[2013-07-12 21:33] samreid opened #13 "Local variable redundant"
In BucketDragHandler, this local variable is redundant:

[code]

[2013-07-12 22:17] samreid opened #14 "Apply PhetStyle to the code files"
I am seeing about 28 files that don't follow the PhetStyle.xml format.

[2013-07-15 18:58] #13 closed, assigned to jbphet

[2013-07-15 19:43] #12 closed, assigned to jbphet

[2013-07-15 19:52] #11 closed, assigned to jbphet

[2013-07-15 19:55] #10 closed, assigned to jbphet

[2013-07-15 20:14] #8 closed, assigned to jbphet

[2013-07-15 20:18] #7 closed, assigned to jbphet

[2013-07-15 20:37] #5 closed, assigned to jbphet

[2013-07-15 20:41] #2 closed, assigned to jbphet

[2013-07-17 17:45] #4 closed, assigned to jbphet

[2013-07-24 10:45] jonathanolson opened #15 "Scenery Performance"
I've created this issue to track Scenery's performance in this particular simulation.

I've made a number of performance enhancements to the 'performance' branch, experimental for now, but may be merge-able for our deadlines. The most significant performance change is making the draggable particles use CSS transforms (approximately doubles FPS on iPad3/Nexus7 with 28->54 and 12->30 FPS respectivel

[2013-07-24 23:05] #3 closed, assigned to jbphet

[2013-07-30 00:26] jonathanolson opened #16 "Icons for the first two tabs on the homescreen are blurry on desktop resolutions"
Probably just needs to be included at a higher resolution, as first impressions are powerful.

Screenshot:
![baa-homescreen-blurry](https://f.cloud.github.com/assets/480878/875825/8de85170-f8ae-11e2-9ad6-f92b4715a96e.png)

[2013-07-30 01:06] jonathanolson opened #17 "Mouse/touch in-between particles in a bucket makes drag pick-up feel broken"
When trying to grab a particle from a bucket, there are the empty spaces between three spheres that don't respond. It's technically correct, but it makes it seem like you "grabbed" a particle and it didn't drag (espsecially on touch platforms).

See the areas here:
![baa-inbetween](https://f.cloud.github.com/assets/480878/875973/288affd4-f8b4-11e2-8b01-35c6bb463381.png)

I'm not sure of the best w

[2013-07-30 01:09] jonathanolson opened #18 "When creating an atom with only neutrons and stable/unstable checked, it jitters but doesn't say "Unstable""
Should that happen, or is there a reason for not displaying that?

[2013-07-30 01:12] jonathanolson opened #19 "A particle that is moving back to a bucket is not properly reset in a "Reset All""
Drag a neutron out of its bucket and drop it somewhere on the right side of the screen. Before it makes it back to its bucket, click "Reset All".

Expected: It goes back to the bucket
Actual: It continues animating to its place in the bucket

[2013-07-30 01:29] jonathanolson opened #20 "Freeze-like behavior on particle drag with iPad 3"
I was dragging particles on the 2nd tab (Symbol), and one particle moved approximately to the upper-left and then the sim experienced weird freeze-like behavior (but still rotated properly when the iPad was rotated to/from portrait).

Opening up the developer console revealed:
    TypeError: 'undefined' is not a function (evaluating 'this.position.distance(this.destination)')

[2013-07-30 16:25] #18 closed, assigned to nobody

[2013-07-30 19:50] #14 closed, assigned to jbphet

[2013-07-30 19:50] #9 closed, assigned to jbphet

[2013-07-30 19:56] phetsims opened #21 "Reconfiguration of the nucleus when touched by user can be distracting"
This enhancement was requested by Emily M.  Currently, when a user touches a nucleus that they've built, the nucleus reconfigures itself as though the particle was removed.  This can be distracting, particularly on a touch-based interface, since students tend to poke at everything.  It would be better if the user had to move the particle a little ways before the nucleus was reconfigured.

[2013-07-30 20:15] ghost opened #22 "Stability indicator and associated animation should be off by default"
This was requested initially by Ariel P, and is already implemented, but it's probably good to track it.

Interviewers have reported that the indicator that depicts the stability of the atomic nucleus coupled with the 'jitter' animation of the unstable nucleus tends to draw a lot of the students' attention.  Students seem to focus in on what exactly makes the nucleus stable, which isn't bad in its

[2013-07-30 20:54] #19 closed, assigned to nobody

[2013-07-30 21:20] #22 closed, assigned to nobody

[2013-07-31 23:55] ariel-phet opened #23 "Buggly/Freeze Behavior on Win 8 with FF, IE, Chrome"
There is a freezing issue/buggy behavior on Win 8 with FF, IE, and Chrome. Chrome is the best performer, but can still freeze with particles in odd places, and FF is the worst. Seems related to touch events.

[2013-08-13 00:16] pixelzoom opened #24 "no string file or nls directory"
Why is this missing from BAA? Is this sim not localized?

[2013-08-14 14:30] samreid opened #25 "About dialog does not fit on the screen. Credits line too long."
About dialog does not fit on the screen.  Credits line too long.

![screenshot-3](https://f.cloud.github.com/assets/679486/962354/09bcbde0-04ee-11e3-91a0-4306bab6856e.png)

[2013-08-21 17:23] learnthinkteach opened #26 "Nucleus covers part of element name"
![screenshot_189](https://f.cloud.github.com/assets/5091998/1003334/c4fc6ac2-0a8b-11e3-8c24-e31fddfe08de.jpg)
![screenshot_190](https://f.cloud.github.com/assets/5091998/1003343/e3497cf4-0a8b-11e3-94e7-dd82054a37d7.jpg)

Letters in the element name are partially obscured by the particles in the nucleus.  Oxygen (at the g) and Neon (at the o) have this most; other elements are OK.

[2013-08-28 22:33] #16 closed, assigned to jbphet

[2013-09-05 17:48] pixelzoom opened #27 "missing many entries in images/license.txt"

[2013-09-26 13:58] patricialoeblein opened #28 "electrons don't return to bucket in cloud view"
http://www.colorado.edu/physics/phet/dev/html/build-an-atom/1.1.0-dev.2/build-an-atom_en.html
![baacloudelectron](https://f.cloud.github.com/assets/5091205/1218004/6373d26a-26b3-11e3-94ec-7c877847a1bf.jpg)

If you are in the cloud view on Win 7 - IE, Firefox, Chrome and grab an electron to remove. the electron stays in the play area. you can grab the electron after it is out side the cloud and ret

[2013-09-26 16:21] jbphet opened #29 "Game feedback sounds sound odd on iPad2"
On my iPad 2, the game feedback sounds sound as though they are playing at 1/2 speed or something.

[2013-09-27 18:55] #29 closed, assigned to nobody

[2013-09-30 20:48] #27 closed, assigned to jbphet

[2013-10-09 00:33] #6 closed, assigned to jbphet

[2013-10-10 16:57] gruneich opened #30 "Chromebook - scenery nodes are not rendering"
![screenshot 2013-10-10 at 9 49 22 am](https://f.cloud.github.com/assets/5183994/1308341/e06a8484-31cc-11e3-9009-1053a7348471.png)

![screenshot 2013-10-10 at 9 15 53 am](https://f.cloud.github.com/assets/5183994/1308349/f7a10dda-31cc-11e3-84f4-1f022e111b1c.png)

Chrome version
28.0.1500.95

Google_Snow.2695.117.0

[2013-10-10 17:38] ycarpenterphet opened #31 "Release candidate rc2 window title and about dialog not updated"
The link "http://www.colorado.edu/physics/phet/dev/html/build-an-atom/1.1.0-rc.2/build-an-atom_en.html" still says rc.1 in the both the window title and the about dialog.

[2013-10-10 17:53] ycarpenterphet opened #32 "Neutral Atom label too close to particle tally"
http://www.colorado.edu/physics/phet/dev/html/build-an-atom/1.1.0-rc.2/build-an-atom_en.html

When all of the neutrons are in use, the box containing the tally of particles (top left) nearly overlaps the "Neutral Atom" label. Suggest moving the label an extra 5px or so to the right.

[2013-10-10 19:03] learnthinkteach opened #33 "Number entry resetting to 0 in Symbol portion of game"
Already mentioned to @jbphet , documenting here.

Noticed that all values reset for this question when answered incorrectly on the first try.

In the "build it with particles" style of problem, the answer does not reset, which is less annoying.  Also, helpful to think about editing your incorrect answer rather than having to start from scratch.

![screenshot_208](https://f.cloud.github.com/assets/

[2013-10-10 19:13] learnthinkteach opened #34 "Reward screen waterfall is "choppy" in Firefox"
The reward screen waterfall of element and smileys is not very smooth in Firefox.  Chrome is much smoother and looks good; Firefox is choppy and less appealing.

![screenshot_209](https://f.cloud.github.com/assets/5091998/1309467/f6109112-31df-11e3-875a-9c0d83828e93.jpg)

Name: Build an Atom
URL: http://www.colorado.edu/physics/phet/dev/html/build-an-atom/1.1.0-rc.2/build-an-atom_en.html
Version:

[2013-10-10 19:17] learnthinkteach opened #35 "About dialog too big in Firefox"
About dialog box is larger than the window I have open.  Noticed when I went to get platform info for #34 , but it's not exclusive to when the reward screen is up.

![screenshot_210](https://f.cloud.github.com/assets/5091998/1309506/8ff6e57e-31e0-11e3-9c06-4e0f0528ba9f.jpg)

Name: Build an Atom
URL: http://www.colorado.edu/physics/phet/dev/html/build-an-atom/1.1.0-rc.2/build-an-atom_en.html
Versio

[2013-10-10 19:25] jessegarrison opened #36 "Sluggish on Firefox Win 7"
It feels very slow when dragging up protons, neutrons, and electrons.  Takes longer than it seems like it should after dropping the item for it to move into place.

Windows 7 Home, 64bit, SP1

Troubleshooting information
Name: Build an Atom
URL: http://www.colorado.edu/physics/phet/dev/html/build-an-atom/1.1.0-rc.2/build-an-atom_en.html
Version: 1.1.0-rc.1
Features missing: flexbox, touch
User Age

[2013-10-10 19:33] #35 closed, assigned to nobody

[2013-10-10 20:39] #28 closed, assigned to nobody

[2013-10-10 20:40] #26 closed, assigned to nobody

[2013-10-11 00:21] jbphet opened #37 "Using default namespace instead of specific one"
We decided to use clearly specified namespaces instead of assumed ones for include directives, and Build an Atom isn't doing this.

[2013-10-11 00:47] emily-phet opened #38 "Sluggish Particle Motion on iOS7 - iPad 3"
When dragging particles into the atom model, there is a pause before the sim seems to 'register' where the particle belongs and to update the readouts. Essentially, in the time it takes the sim to register the addition of a new proton (for example) in the nucleus, I can move my hand all the way out of the way and be trying to grab another.

Upon dragging particles out, it "feels" like I drag my fi

[2013-10-11 00:56] emily-phet opened #39 "iPad 3, iOS7, About Dialog Goes Off-Screen"
When i open the about dialog on iPad 3, iOS7, the window is bigger than the screen. Picture below:

![photo 4](https://f.cloud.github.com/assets/5109055/1311567/ec2c36bc-320f-11e3-9914-39e6b8db19d3.JPG)

[2013-10-11 00:58] emily-phet opened #40 "BAA 1.1.0-rc.2 Opens with the Heading "Build an Atom 1.1.0-rc.1""
I totally thought i had messed up and was testing the wrong sim. The label is just wrong - i hope. :)

[2013-10-11 01:05] #39 closed, assigned to nobody

[2013-10-11 04:06] emily-phet opened #41 "Electrons Offset from Orbital"
The electron particles looking offset from the orbital diagram.

![photo 5](https://f.cloud.github.com/assets/5109055/1312216/dddb9e3a-3229-11e3-813c-32990493d474.JPG)

Sim Info:
Name: Build an Atom
URL: http://www.colorado.edu/physics/phet/dev/html/build-an-atom/1.1.0-rc.2/build-an-atom_en.html
Version 1.1.0-rc.1
Feature missing: touch, webgl, fullscreen
Flags: msPointerEnabled
User Agent: Mozill

[2013-10-11 16:16] #40 closed, assigned to nobody

[2013-10-11 17:36] #37 closed, assigned to nobody

[2013-10-14 18:59] orejolaphet opened #42 "Cannot remove all protons on Windows 8 Surface Chrome"
In the Atom section; If you add 7 or more protons to the atom with the stable/unstable box unchecked you cannot remove the last proton. The last proton does not respond to touch.

Name: Build an Atom

URL: http://www.colorado.edu/physics/phet/dev/html/build-an-atom/1.1.0-rc.2/build-an-atom_en.html

Version: 1.1.0-rc.1

User Agent: Mozilla/5.0 (Windows NT 6.2; WOW64) AppleWebKit/537.36 (KHTML, like

[2013-10-14 19:11] orejolaphet opened #43 "Very slow Performance Windows 8 Surface Firefox"
Very slow performance when moving electrons, protons, and neutrons. Response is fine but objects move across the screen with a significant lag.

Name: Build an Atom

URL: http://www.colorado.edu/physics/phet/dev/html/build-an-atom/1.1.0-rc.2/build-an-atom_en.html

Version: 1.1.0-rc.1

Features missing: flexbox

Flags: pixelRatioScaling

User Agent: Mozilla/5.0 (Windows NT 6.2; WOW64; rv:24.0) Geck

[2013-10-15 18:28] pixelzoom opened #44 "code review #2"
@jbphet will indicate when it's ready for review.
@pixelzoom will do it.
@jonathanolson will review for scenery performance.

[2013-10-16 03:47] learnthinkteach opened #45 "Number entry boxes should stop at zero for some answer inputs"
I don't think it makes sense for the number entry boxes to go negative for questions where number of particles of each type is being asked (example below).  How could you have a negative number of protons (or any particles?)  Charge is the only case where this makes sense.
![screenshot_215](https://f.cloud.github.com/assets/5091998/1339840/85208b44-3615-11e3-9398-dbf5fdaad49b.jpg)

We do have this

[2013-10-16 04:40] learnthinkteach opened #46 "No sound in WinXP Firefox"
No sound produced for game feedback for WinXP Firefox.
Sound works on same laptop in Chrome.

Name: Build an Atom
URL: http://www.colorado.edu/physics/phet/dev/html/build-an-atom/1.1.0-rc.2/build-an-atom_en.html
Version: 1.1.0-rc.1
Features missing: flexbox, touch
User Agent: Mozilla/5.0 (Windows NT 5.1; rv:24.0) Gecko/20100101 Firefox/24.0
Language: en-US
Window: 826x513
Pixel Ratio: 1/1

[2013-10-16 04:49] learnthinkteach opened #47 "Sound choppy / has a stutter in WinXP Chrome"
Sound comes out choppy / has a stutter.
WinXP Chrome.

Name: Build an Atom
URL: http://www.colorado.edu/physics/phet/dev/html/build-an-atom/1.1.0-rc.2/build-an-atom_en.html
Version: 1.1.0-rc.1
Features missing: csstransforms3d, touch
User Agent: Mozilla/5.0 (Windows NT 5.1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/30.0.1599.101 Safari/537.36
Language: en-US
Window: 899x534
Pixel Ratio: 1/1

[2013-10-16 04:56] learnthinkteach opened #48 "Can't access Atom screen using Nav Bar in WinXP Chrome"
Atom screen is accessible from the home screen, but clicking on the Atom screen icon in the Nav Bar doesn't do anything.

Observed in WinXP Chrome only.
Tested in WinXP Firefox, Mac OSX Firefox & Chrome, and the Nav Bar "Atom" screen shortcut works in all of them.
The Symbol and Games Nav Bar icons work fine on all platforms mentioned; only the Atoms screen icon doesn't work.

Name: Build an Atom

[2013-10-16 07:53] jonathanolson opened #49 "Mouse doesn't show the pointer hand when over the buckets"
Even though you can drag things by mouse-down on buckets + drag. Probably should have that changed, but maybe it is there for a reason?

[2013-10-17 23:19] #45 closed, assigned to nobody

[2013-10-21 16:23] gruneich opened #50 "Element Box on Atom screen is strange briefly"
OS: Win 8.1 preview
Test device: laptop
Browser: Firefox 24
Troubleshooting Information (from About dialog):
Name: Build an Atom
URL: http://www.colorado.edu/physics/phet/dev/html/build-an-atom/1.1.0-rc.3/build-an-atom_en.html
Version: 1.1.0-rc.3
Features missing: flexbox
User Agent: Mozilla/5.0 (Windows NT 6.3; WOW64; rv:24.0) Gecko/20100101 Firefox/24.0
Language: en-US
Window: 1600x772
Pixel Rat

[2013-10-21 17:13] learnthinkteach opened #51 "Reset all buttons not working (all screens)"
Clicking the reset button has no action when there are particles on the atom (screens 1 and 2) and does not reset the stars in the game "main" screen.

Mac laptop OS 10.6.8, Firefox 24.0

Name: Build an Atom
URL: http://www.colorado.edu/physics/phet/dev/html/build-an-atom/1.1.0-rc.3/build-an-atom_en.html
Version: 1.1.0-rc.3
Features missing: flexbox, touch
User Agent: Mozilla/5.0 (Macintosh; Intel

[2013-10-21 18:34] orejolaphet opened #52 "When playing Build an Atom games, sometimes the "check" and "next" buttons do not work"
Test device: IBM ThinkPad
Operating System: Windows 7 Enterprise 32-bit
Browser: Google Chrome 30.0.1599.101 m
Troubleshooting Information (from About dialog):

Name: Build an Atom
URL: http://www.colorado.edu/physics/phet/dev/html/build-an-atom/1.1.0-rc.3/build-an-atom_en.html
Version: 1.1.0-rc.3
Features missing: touch
User Agent: Mozilla/5.0 (Windows NT 6.1) AppleWebKit/537.36 (KHTML, like Geck

[2013-10-21 19:01] orejolaphet opened #53 "Reset button does not work for "Atom" section"
Test device: IBM ThinkPad
Operating System: Windows 7 Enterprise 32-bit
Browser: Google Chrome 30.0.1599.101 m
Troubleshooting Information (from About dialog):

Name: Build an Atom
URL: http://www.colorado.edu/physics/phet/dev/html/build-an-atom/1.1.0-rc.3/build-an-atom_en.html
Version: 1.1.0-rc.3
Features missing: touch
User Agent: Mozilla/5.0 (Windows NT 6.1) AppleWebKit/537.36 (KHTML, like Geck

[2013-10-21 19:46] orejolaphet opened #54 "Decreased sensitivity and slow performance when removing particles on Windows Surface"
Test device: Windows Surface
Operating System: Windows 8 Pro 64-bit
Browser: Firefox 24.0
Troubleshooting Information (from About dialog):

Name: Build an Atom
URL: http://www.colorado.edu/physics/phet/dev/html/build-an-atom/1.1.0-rc.3/build-an-atom_en.html
Version: 1.1.0-rc.3
Features missing: flexbox
Flags: pixelRatioScaling
User Agent: Mozilla/5.0 (Windows NT 6.2; WOW64; rv:24.0) Gecko/20100101

[2013-10-21 21:18] pixelzoom opened #55 "'dev' mode doesn't show layoutBounds for 'Game' screen"
When the 'dev' query parameter is provided, ScreenView automatically strokes a red rectangle to show the layoutBounds.  This works for the first 2 screens, but not for the 'Game' screen.  Are you not using a ScreenView? Why does it need to be different?

[2013-10-21 23:39] learnthinkteach opened #56 "Strange press-and-hold behavior: game pickers get stuck "on", then won't work"
Found on Mac OS 10.6.8, latest version of Chrome.  Also observed in Firefox 24.0.

In the game, on a question with up/down pickers, if you click and hold the "up" picker, and then wiggle the mouse around, the picker gets stuck "on", and the number cannot be stopped, even through getting a wrong answer and trying again (it just keeps going up, even into the hundreds!)

On any question after this, p

[2013-10-22 20:32] #55 closed, assigned to nobody

[2013-10-22 21:24] #24 closed, assigned to nobody

[2013-10-22 22:18] ariel-phet opened #57 "Consider having separate image files for the icons in the Navbar"
I believe @samreid is adding support in Joist for using separate image files for displaying navbar icons. In many sims, the same image works well on both the homescreen and scaled down in the navbar, but on Build an Atom it appears that on several platforms (the Win laptops I have viewed) the icons look a bit fuzzy. Perhaps we can have Sharon draw crisper icons at this size?

[2013-10-23 16:35] #44 closed, assigned to nobody

[2013-10-23 19:24] orejolaphet opened #58 "While moving objects, object's position flashes along with screen on Chrombook"
Test device: Samsung Chromebook
Operating system:
Browser: Google Chrome 31.0.1650.26

Troubleshooting information (don't edit this):
Name: Build an Atom
URL: http://www.colorado.edu/physics/phet/dev/html/build-an-atom/1.1.0-rc.3/build-an-atom_en.html
Version: 1.1.0-rc.3
Features missing: touch
User Agent: Mozilla/5.0 (X11; CrOS armv7l 4731.31.0) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/31.0.

[2013-10-23 20:20] jbphet opened #59 "Add bounds to all number entry dialogs"
The number entry fields in the game currently have no upper bounds.  They should be bounded at 99 (agreed to in meeting with @ariel-phet and @emily-phet).

[2013-10-23 23:07] #56 closed, assigned to pixelzoom

[2013-10-24 22:12] emily-phet opened #60 "Sim Opens in Safari 5 with Black Atoms/Buckets & Game Components Missing"
Test device:
Emily's Macbook Air
Model Name: MacBook Air
  Model Identifier: MacBookAir3,1
  Processor Name:   Intel Core 2 Duo
  Processor Speed:  1.4 GHz
  Number of Processors: 1
  Total Number of Cores:    2
  L2 Cache: 3 MB
  Memory:   2 GB
  Bus Speed:    800 MHz
  Boot ROM Version: MBA31.0061.B01
  SMC Version (system): 1.67f10
  Serial Number (system):   C02FL3WKDDQX
  Hardware UUID:    C2

[2013-10-24 22:25] #60 closed, assigned to nobody

[2013-10-25 18:11] #48 closed, assigned to nobody

[2013-10-25 19:52] #34 closed, assigned to nobody

[2013-10-25 20:19] #33 closed, assigned to nobody

[2013-10-25 20:20] #32 closed, assigned to nobody

[2013-10-25 20:20] #31 closed, assigned to nobody

[2013-10-25 21:32] #59 closed, assigned to nobody

[2013-10-26 00:29] #25 closed, assigned to nobody

[2013-10-28 19:28] #53 closed, assigned to nobody

[2013-10-28 22:15] pixelzoom opened #61 "use vegas string keys with 'Games' prefix"
Change BAA to use these 'vegas' string keys (ported from Java):

 "Games.check": "Check",
 "Games.tryAgain": "Try Again",
 "Games.showAnswer": "Show Answer",
  "Games.next": "Next",

... then delete these keys that only BAA is using:

 "check": "Check",
  "tryAgain": "Try Again",
  "showAnswer": "Show Answer",
  "next": "Next",

[2013-10-28 22:52] pixelzoom opened #62 "generalize and migrate RewardNode to vegas"
A similar RewardNode will be needed by graphing-lines. To see what features it needs, run the Java version and complete a perfect game (use -dev to make this easier), or run the test main in line-graphing.RewardNode.

[2013-10-30 01:17] oliver-phet opened #63 "Safari: everything disappears?"
Report a Problem

Please copy and paste the information below into an email to phethelp@colorado.edu, and then fill in the blanks.

Test device: Macbook Air

Operating System: OSX 10.8.5

Browser: 6.0.5 Safari/536.30.1

Problem description: Opened BAA in safari and did some emailing in Chrome. When I came back to the sim everything in the play area had disappeared except the menu button and home b

[2013-10-30 04:23] emily-phet opened #64 ""Wrong" Sound when selecting "Next" prior to Score Screen"
Test device: iPad3

Operating System: 7.0.2 (11A501)

Browser: Safari

Description:
When you get the 5th question wrong, when you select "next" (which goes to the Score Screen), you hear the "donk" sound, like you answered incorrectly.

Steps to reproduce:
The easiest way is just to quickly answer every question wrong. As you get to the 5th question, answer wrong on the first try, then pause. Answ

[2013-10-30 14:57] #46 closed, assigned to nobody

[2013-10-30 15:03] #49 closed, assigned to nobody

[2013-10-30 18:02] orejolaphet opened #65 "Model selection freezes (Multi-Touch) Windows 8 Laptop"
Test device: ASUS Sonic Master
Operating System: Windows 8 64-bit
Browser: Google Chrome

Problem description:

The model selection: "Orbits" & "Cloud" freezes if you use the touch screen and the mouse simultaneously.

Steps to reproduce:
Move a particle with a mouse and hold it down.
While holding that particle touch the screen to select either "Orbits" or "Cloud"
Then which ever you select next

[2013-10-30 18:27] #52 closed, assigned to nobody

[2013-10-31 01:13] ariel-phet opened #66 "Consider Slowing Falling Motion of Reward Objects"
On all platforms @ariel-phet tested this motion appears to be choppy, and is quite distracting, consider slowing the falling speed considerably.

[2013-10-31 16:26] #51 closed, assigned to nobody

[2013-10-31 22:44] #57 closed, assigned to nobody

[2013-10-31 23:13] #61 closed, assigned to jbphet

[2013-10-31 23:15] #30 closed, assigned to nobody

[2013-10-31 23:23] #64 closed, assigned to nobody

[2013-11-01 17:49] jbphet opened #67 "Best time is updated first time through, and displayed, even if user doesn't get all answers correct"
Found on the current release candidate, see: http://www.colorado.edu/physics/phet/dev/html/build-an-atom/1.1.0-rc.4/build-an-atom_en.html

To duplicate, load the sim, choose the game screen, and play one level getting at least one answer wrong.  At the end, a "Your Best: xx" indicator will appear with the time that it took.  This shouldn't happen - best times should only be updated when a perfect

[2013-11-01 18:09] jbphet opened #68 "Element symbol shown on game icon is inconsistent with symbols shown in sim"
In the simulation, the mass number appears at the upper left in all element symbols, and the atomic mass is never shown at all.  In the game icon, the element depicted is Helium, but it has a 2 in the upper left, which is NOT the mass number.  Also, the atomic mass is shown at the bottom of the symbol (I can't believe that I nor anyone else on the team ever noticed this before).

Version: http://w

[2013-11-02 04:12] kathy-phet opened #69 "Font for text "Mass Number" and "Symbol" is larger than "Element" and "Charge""
Test device: Kathy's Windows 7 ThinkPad

Operating System:Windows 7 Service Pack 1 64 bit

Browser: Google Chrome

Problem description: The titles of the fonts on the readouts are different sizes -- The title font for "Mass Number" and "Symbol" appear to be one font-size larger and could be reduced to match the font size for "Element" and "Charge"

Steps to reproduce: Just run the sim

Severity: N

[2013-11-02 04:21] kathy-phet opened #70 "Make Font for "Element Name", "Neutral/Ion", "Stable/Unstable" somewhat smaller"
This is a (albeit last minute) suggestion to reduce the font size (not the check box size) of the option titles for "Element Name", "Neutral/Ion", "Stable/Unstable". They seem a bit bigger and drawing more attention than they need to be, and reducing font size a bit could help add a bit more whitespace around each name which could make it feel less crowded down in that corner even though checkbox

[2013-11-04 03:53] emily-phet opened #71 "Home Screen selected icon - highlighting inconsistent"
Test device:
Macbook Air (Emily's)

Operating System:
Mac OSX 10.6.8

Browser:
Safari Version 5.1.10 (6534.59.10)

Problem description:
When hovering mouse over selected icon, the highlight box around the icon disappears - essentially acting in the opposite way it should. Mouse on icon makes highlight box disappear, moving farther away makes highlight appear.

Steps to reproduce:
Load sim, hover m

[2013-11-04 20:17] #69 closed, assigned to nobody

[2013-11-04 22:27] pixelzoom opened #72 "level-selection button gets 'up' click from 'down' click on home screen"
Test device: MacBook Pro
Operating System: Mac OS 10.8.5
Browser: Chrome Canary (but any browser should reproduce this)

Problem description:
If you click on the 'Game' icon on the homescreen, in a spot directly above the right-most level selection button, then the level-selection button will get the 'up' event from the click on the homescreen.

Steps to reproduce:
1. Start the sim
2. Click the 'g

[2013-11-04 22:38] pixelzoom opened #73 "clean up stuff related to LevelCompletedNode changes"
Changes were made in to LevelCompletedNode in https://github.com/phetsims/vegas/issues/2

Here's what I put in BAAGameView so that BAA would run:

[code]

You'll probably want to use 'null' in your model for 'no best time'.  And you'll need to compute isNewBestTime so that it doesn't have the pitfalls mentioned in the https://github.com/phetsims/vegas/issues/2

[2013-11-04 23:54] #72 closed, assigned to nobody

[2013-11-05 00:03] #62 closed, assigned to nobody

[2013-11-05 20:33] #71 closed, assigned to nobody

[2013-11-05 21:49] pixelzoom opened #74 "bad choice for highlight color on game-start buttons"
Test device: MacBook Pro (but should occur on any device)
Operating System: Mac OS 10.8.5
Browser: Firefox 25 (but should occur on any browser)

Problem description:
When you mouse-over one of the buttons used for selecting a game (LevelStartButton), it highlights. The highlight color is unfortunately almost the same as the Game screen's background color, so the button looks empty, rather than 'ac

[2013-11-12 20:45] oliver-phet opened #75 "User reported issue: Home screens overlap"
Reported by Roberto Fanciulli <faro49@gmail.com>

![report a problem-phethelp pdf - adobe reader_-11-12_13-46-21](https://f.cloud.github.com/assets/5090275/1525851/85c44cb2-4bdb-11e3-867b-aa6902d51809.png)
![report a problem-phethelp pdf - adobe reader_-11-12_13-46-17](https://f.cloud.github.com/assets/5090275/1525852/85d196e2-4bdb-11e3-93a0-6eca73f8c0f8.png)

Report a Problem
Please copy and past

[2013-11-12 20:46] jbphet opened #76 "User report screen turns black after many particles added"
From Facebook:

Mathias Tomandl commented on a link PhET Interactive Simulations shared.
Mathias wrote: "Hi, if I add more than 18 particles to the atom my screen turns black.. can you reproduce that?"

[2013-11-16 00:14] kathy-phet opened #77 "Fuzzy icon images on Chrome"
Test device: Kathy's Lenovo Thinkpad T410s

Operating System: Windows 7 Service Pack 1 64 bit

Browser: Version 31.0.1650.57 m

Problem description: Images / Icons in game fuzzy on Chrome. I do not see an issue on Firefox.

Steps to reproduce: Just launch and go to game

Severity: Annoyance

Screenshots: See below

Troubleshooting information (do not edit):
Name: Build an Atom
URL: http://www.colo

[2013-11-19 20:15] orejolaphet opened #78 "Particle Bin is black."
Test device: Mac Book Pro
Operating System: 10.6.8
Browser: Safari 5.1.7
Problem description:
Particle pin is black when you initially open sim screens: "Atom" and "Symbol". If you select to "Atom" from "Symbol" or vice versa the issue of black particle bins is no longer present.

Steps to reproduce:
Open sim
Select either "Atom" or "Symbol"
Severity:

Screenshots:

![screen shot 2013-11-19 at 1 0

[2013-11-19 20:22] orejolaphet opened #79 "Game screen displays only blue box."
Test device: Mac Book Pro 13"
Operating System: OS X 10.6.8
Browser: Safari 5.1.7
Problem description:
Game screen only displays blue box. Games are no longer playable with out completely refreshing the sim page.

Steps to reproduce:
Open sim.
Select "Game" screen
Select any of the 4 game selections

Severity:
Games are unplayable. Should be fixed.

Screenshots:

![baa-1 1 2-rc 2gamescreenbluebug]

[2013-11-21 15:07] oliver-phet opened #80 "User suggestion: add ability to type in field in game"
Reported by Danielle Campanella dcampanella@eastlakeacademy.org on Nov 21, 2013

Problem description: worked fine, but game could use a field to type in numbers instead of using the arrows to change the numbers.  Continuing to hit the “up” arrow or holding it down takes time and affects the timing on the game.

Steps to reproduce: Play the game and hit the arrows to change the number of protons, n

[2013-11-28 04:40] emily-phet opened #81 "Removal of Second Game Challenge Inner White Box"
Since the second game challenge does not focus on element symbol (like the third and fourth challenge), I would like the inner white box removed from the icon - it looks too similar to the third and fourth challenge icons. When it is next convenient, I think it would be better to just have the scale and the charge meter directly on the yellow background of the button.

[2014-01-30 18:01] oliver-phet opened #82 "User reported issue: Blue box in game tab"
Reported by Ed Van Haute <ed.vanhaute@dunhamschool.org> Jan 30, 2014

Report a Problem
Please copy and paste the information below into an email to phethelp@colorado.edu, and then fill in the blanks.

Test device:
![screen shot 2014-01-30 at 10 26 35 am 2](https://f.cloud.github.com/assets/5090275/2042991/8d1d4ea6-89d8-11e3-974d-02b8ec66090d.png)

Operating System: OS X 10_7_5

Browser: Safari and

[2014-02-07 23:27] gruneich opened #83 "Black screen on mystery game screen after button has been depressed"
Here is a screenshot.
![baa_black screen bug](https://f.cloud.github.com/assets/5183994/2115338/f2ca0f3e-904d-11e3-8f2e-5674af08746c.jpg)

Steps to reproduce
1. Go to the choose your game screen
2. Depress a few buttons by clicking on them and removing the cursor before you release the mouse button (as a side note - the buttons to not return to their "undepressed" state after pressing the reset al

[2014-02-10 17:32] #83 closed, assigned to nobody

[2014-04-18 21:05] #74 closed, assigned to jbphet

[2014-04-18 21:09] #20 closed, assigned to nobody

[2014-04-18 21:12] #77 closed, assigned to nobody

[2014-04-18 21:13] #73 closed, assigned to jbphet

[2014-04-18 21:26] #68 closed, assigned to nobody

[2014-04-18 21:27] #67 closed, assigned to nobody

[2014-04-18 21:29] #50 closed, assigned to nobody

[2014-04-21 19:57] #81 closed, assigned to nobody

[2014-04-25 17:59] jbphet opened #84 "Adjust press-and-hold behavior of the number entry controls in the game"
Based on a recent review, the time from when the user presses and holds one of the tweaker buttons to the time that the value starts increasing is a bit long.

[2014-04-28 17:28] #84 closed, assigned to nobody

[2014-06-27 00:05] pixelzoom opened #85 "replace mvt with modelViewTransform"
see https://github.com/phetsims/graphing-lines/issues/15

[2014-07-29 20:50] pixelzoom opened #86 "website thumbnail is not checked in"
it should be assets/build-an-atom-128.png

[2014-10-20 19:15] pixelzoom opened #87 "replace LevelStartButtonDeprecated with LevelSelectionButton"
See https://github.com/phetsims/vegas/issues/36

[2014-12-19 18:38] samreid opened #88 "wrong case for KITE/Shape"
I saw this commit on a build-an-atom fork:
https://github.com/jgpATs2w/build-an-atom/commit/2929ad8a4826d3abc660ea9f1bf9a830410604a4

which changed:

[code]

to

[code]

I tested the former on my case-sensitive mac, and everything seemed to work.  So I'm not sure why this is working (or if it would build properly on OSX), but it seems like it should be fixed.

We should also look around our repos

[2014-12-19 18:43] #88 closed, assigned to jbphet

[2014-12-22 20:54] jbphet opened #89 "No renderer specified for the game screen"
@pixelzoom was looking through the code for other reasons, and noted that there is no renderer specified for the game screen.  This is fairly atypical in most of our current implementations, so we may want to address this (i.e. check some different renderers and see if they improve performance and/or appearance) the next time this sim is updated.

[2015-01-28 20:13] pixelzoom opened #90 "consider changing color of level-selection buttons"
After converting to the new vegas.LevelSelectionButton (see phetsims/vegas#36), the level-selection buttons look a bit lost, their color is too similar to the background. See screenshots below.

Old buttons:
![screenshot_194](https://cloud.githubusercontent.com/assets/3046552/5945946/5fdcafe2-a6ef-11e4-87c6-786989d97588.png)

New buttons:
![screenshot_193](https://cloud.githubusercontent.com/asset

[2015-01-28 20:16] pixelzoom opened #91 "everything is smaller"
I noticed this while creating issue https://github.com/phetsims/build-an-atom/issues/90. When running from 'master', everything in this sim (on every screen) is quite a bit smaller than the published version (1.1.2).  I don't know if this is due to scenery 0.2 or changes to joist.ScreenView's DEFAULT_LAYOUT_BOUNDS.  Or maybe this change was intentional.

For example, here's 1.1.2:

![screenshot_19

[2015-01-28 20:21] pixelzoom commented on #91
I checked the layoutBounds, and this sim is explicitly setting its layoutBounds to (0,0,768,504), which is the original value of DEFAULT_LAYOUT_BOUNDS.

[2015-01-29 03:28] #91 closed

[2015-02-07 19:58] pixelzoom commented on #87
I did this. Closing.

[2015-02-07 19:58] #87 closed

[2015-03-02 22:17] pixelzoom opened #92 "dependencies in package.json and config.js don't match"

[2015-03-04 00:06] #92 closed

[2015-03-06 20:36] pixelzoom opened #93 "use PhetColorScheme.RED_COLORBLIND ?"
13 occurrences of 'red' in this sim, and no use of colorblind red.  Should any of these be using PhetColorScheme.RED_COLORBLIND?

[2015-03-08 17:49] pixelzoom opened #94 "Properties should have `Property` suffix"
See https://github.com/phetsims/beers-law-lab/issues/86

Examples of anti pattern (not exhaustive):

CountsToChargeProblemView: this.chargeAnswer = new Property( 0 );
CountsToMassNumberProblemView: this.massNumberAnswer = new Property( 0 );
InteractiveSymbolNode: thisNode.protonCount = new Property( options.interactiveProtonCount ? 0 : numberAtom.protonCount );
InteractiveSymbolNode: thisNode.mass

[2015-03-31 20:31] pixelzoom opened #95 "branch: performance"
Please describe or delete if no longer necessary.

[2015-03-31 20:32] pixelzoom opened #96 "branch: plugin"
Please describe or delete if no longer necessary.

[2015-03-31 20:32] pixelzoom opened #97 "branch: together"
Presumably together instrumentation for this sim.

[2015-04-01 04:21] samreid commented on #97
Yep.

[2015-04-01 16:47] jbphet commented on #96
Based on the commits, it looks like this branch was used to switch from the loaders we were using back then (PxLoader and PxLoaderImage) to the RequireJS plugins.  This was obviously integrated into master, so the branch has been deleted.  Closing.

[2015-04-01 16:47] #96 closed

[2015-04-01 16:50] jbphet commented on #95
This branch was used for some experiments in improving performance.  Since it is nearly two years old, I'm fairly sure what was done here wouldn't be useful for any newer performance improvement efforts, and there are no such efforts currently planned for this sim anyway, so I'll delete the branch.

[2015-04-01 16:50] #95 closed

[2015-04-03 17:46] samreid opened #98 "Property declared in inherit"
I noticed a property declared in the inherit call.  This almost certainly won't have the correct behavior because the Property instance will be shared across all ToElementProblemViews.  Link to the code issue forthcoming...

[2015-04-03 17:47] samreid commented on #98
Problem site linked above.  @jbphet can you take a look?  Does this pattern occur elsewhere?

[2015-04-03 18:00] samreid commented on #98
Same problem with the NumberAtom:

[code]

[2015-04-03 18:01] samreid opened #99 "Does this game have a memory leak?"
I am seeing lots of listeners added, properties created, etc without any dispose()

[2015-04-03 18:01] samreid commented on #99
By the way, I'm adding a lot of dispose functions for compatibility with together.

[2015-04-03 18:34] samreid commented on #99
Running the fuzz tester on the published version look like this:

![image](https://cloud.githubusercontent.com/assets/679486/6986752/a9502f50-d9fd-11e4-818c-7ff5e2912a26.png)

So without any unlinks, or disposes, why is there no memory leak apparent?

[2015-04-17 11:13] samreid opened #100 "branch: together2"
I'm creating a second branch for instrumentation with together using patterns we discussed in phetsims/together#72 and related issues.  I may use together branch as a reference, so leaving it around for now.

[2015-05-22 20:01] pixelzoom opened #101 "build-an-atom should be using vegas.RewardNode"
vegas.RewardNode was ported from build-an-atom, see https://github.com/phetsims/vegas/issues/4.  But build-an-atom is not using it, and still has its own copy.

[2015-07-14 21:07] pixelzoom opened #102 "invalid aspect ratio for screen icons in navbar"
Screen icons for the navbar must have the same aspect ratio as either Screen.NAVBAR_ICON_SIZE or Screen.HOME_SCREEN_ICON_SIZE. See phetsims/joist#263 (comment). This sim does not, and fails when assertions are enabled.

[2015-07-27 20:10] jbphet opened #103 "clean up assets directory"
While working on #102, I noticed a few issues with the assets and images in this sim that should be rectified:
+ The naming of the icon images is inconsistent - some are prefixed with "baa_" and some aren't.
+ Many of the asset files are SVG rather than AI files.  I believe that we have essentially standardized on AI, so it would be good to convert these.
+ There are some files in the assets direc

[2015-07-27 20:27] jbphet commented on #103
Done, closing.

[2015-07-27 20:27] #103 closed

[2015-07-27 20:28] jbphet commented on #102
This has been fixed, and now runs fine with assertions enabled.  Closing.

[2015-07-27 20:28] #102 closed

[2015-08-07 20:19] jbphet commented on #86
I've created and added a full resolution screenshot, which is the current convention, see https://github.com/phetsims/tasks/issues/100 for more info.  This addresses the intent of this issue, closing.

[2015-08-07 20:19] #86 closed

[2015-09-23 17:16] #82 closed

[2015-09-28 21:02] amyh-phet opened #104 "Errors in periodic table"
@jbphet there appears to be a bug in Build an Atom.   Period 6 and 7 elements (rows 6 and 7) are incorrect after Ba.   Errors occur on Atom, Symbol, and some game screens.

[2015-11-10 21:27] pixelzoom opened #105 "fix string var names"
... that fail ESLint. See https://github.com/phetsims/chipper/issues/396#issuecomment-155566007.

[2015-11-16 06:14] pixelzoom commented on #105
build-an-atom is failing the build step in test-server because of this.

[2015-11-17 18:07] jbphet commented on #105
Fixed, closing.

[2015-11-17 18:07] #105 closed

[2015-11-17 18:09] jbphet opened #106 "improve string names"
While working on #105 I noticed that a lot of the strings have names which are quite different from the style used for string names in recently developed simulations.  It would probably be worth a little time to improve these.  Note that this will involve making changes in the babel repo too.

[2015-11-17 21:22] jbphet commented on #106
Done for now but would like to revisit before publication, so I'll leave it open but unassigned for now.  This was a bit of an arduous task, so it would be worth looking at it again at some point when I'm not tired of it.

[2015-11-19 21:55] samreid commented on #97
Branch removed, closing.

[2015-11-19 21:55] #97 closed

[2015-11-19 21:56] samreid commented on #100
Branch removed, closing.

[2015-11-19 21:56] #100 closed

[2015-11-19 21:58] samreid opened #107 "Instrument for interoperability"
From https://github.com/phetsims/together/issues/151

I'm planning to begin on this soon.

[2015-11-19 22:15] samreid commented on #107
An issue with BAAGameModel, sometimes the stateProperty is a string, sometimes it is a value returned by ProblemSetFactory._createProblem.  @jbphet should we transform this into a single type Property?

[2015-11-20 02:44] samreid opened #108 "Duplicate entries in the strings file"
Discovered during #107, tagging @jbphet

[2015-11-20 04:15] samreid commented on #107
I'll need to fix https://github.com/phetsims/together/issues/214 before I can proceed here.

[2015-11-20 17:10] jbphet commented on #108
Probably a result of some recent revisions I made to the strings.  I'll fix.

[2015-11-20 17:17] jbphet commented on #107
Yes, it would be good to transform this stateProperty into a single type.  BTW, this was the first JS sim I did, and it was early in PhET's HTML5 evolution, we are likely to encounter a number of issues like this as we work on this sim.  It would be good to invest some time in evolving the code towards our current standards and conventions as we go.

[2015-11-20 22:23] jbphet commented on #108
I believe that this is now fixed in all BAA string files.  They key ```symbol``` was only duplicated in the English file, not sure how this occurred, but it is now gone.  Two of the other strings ended up as duplicates when their names were simplified, so the duplicates were removed and they are now essentially consolidated into a single entry.  The string with the key ```whatIsTheTotalCharge``` e

[2015-11-24 05:03] samreid opened #109 "branch: phet-io"
I got partway through instrumenting the simulation before realizing I need to add support for substructure of items in a TPool.  The instrumentation is untested and partially complete but still may be useful once I resume work on the instrumentation, so I'll check it in to a branch.  This branch can be closed when merged into master or abandoned (if replaced by different work in master or elsewher

[2015-11-24 05:04] samreid commented on #109
See #107 for the instrumentation issue.

[2015-11-25 18:13] pixelzoom opened #110 "use new scoreboard?"
Consider switching from ScoreboardPanel to ScoreboardBar, for the following reasons:

(1) Having ScoreboardBar at the top of the screen is more tablet friendly.
(2) Because of (1), we've done this in other sims, and should probably do the same here.
(3) It would be nice to get rid of ScoreboardPanel, so we don't have to maintain it (it currently fails stringTest).  Currently it's used only by buil

[2015-11-30 17:46] oliver-phet commented on #104
A user emailed PhET help about this issue. @jbphet And I discussed, and it may make sense to wrap this fix into the next maintenance release of BaA.

[2015-12-03 17:47] samreid commented on #108
IDEA no longer reports duplicate keys in the BAA strings file, closing.

[2015-12-03 17:47] #108 closed

[2015-12-07 03:35] samreid commented on #110
As I'm starting to instrument this game, I'm also wishing this used the non-deprecated ScoreboardBar.  I'll continue with ScoreboardPanel for now, but a switch soon would be very nice.

[2015-12-07 16:18] jbphet commented on #110
Assigning to @ariel-phet to decide if someone (most likely me) should just do this or whether we need to do any design review and/or discussions.  I believe the API for the new scoreboard is very similar to that of the old one, so switching should take an hour or less.

[2015-12-07 16:22] pixelzoom commented on #110
build-an-atom looks like a straightforward retrofit, with no design/layout changes required.  Plenty of room at the top for a scoreboard, and definitely in the spirit of why designed this new scoreboard.

balancing-act may be a little trickier.

[2015-12-07 16:25] pixelzoom commented on #110
The highlight was toned down in https://github.com/phetsims/scenery-phet/commit/33f3162822238368ddac713bf7d4c6c7bcddee86:

[code]

Looks like this change may not have been picked up when the overall gradient approach was changed.

[2015-12-07 16:53] samreid commented on #110
I moved the preceding @pixelzoom comment to https://github.com/phetsims/scenery-phet/issues/196#issuecomment-162590326 , it looks like it was in the wrong repo by mistake.

[2015-12-07 16:56] pixelzoom commented on #110
Thanks. I'll delete the misplaced comments here.

[2015-12-07 17:45] ariel-phet commented on #110
I am going to bounce this over to @amyh-phet to get her opinion.

@amyh-phet what say you? Perhaps do a quick mockup to see how you would feel about the change? Seems clean and nice to me.

[2015-12-07 18:28] jbphet commented on #110
In my opinion, the new scoreboard would look good in the sim.

[2015-12-07 18:55] amyh-phet commented on #110
@pixelzoom @samreid @jbphet @ariel-phet    I agree that the new scoreboard looks good.  Did a quick mockup with screenshots from Build an Atom and like the new look.  Sounds like it will solve some functionality issues as well.

[2015-12-07 20:29] samreid commented on #110
Any time we have the opportunity to delete 134 lines of common code, we should pounce on it :smile:

[2015-12-08 21:20] samreid commented on #107
The above commit is:

I tested manually and with the fuzz test, no issues discovered.

[2015-12-09 01:08] samreid commented on #107
Things have been going smoothly.  Things that would still be good to do:
1. Make sure tandem.removeInstance is called and that items are deregistered in the instance-proxy test.
2. Try a wrapper that customizes a pooled game component, such as changing the color/position/visibility of the "check answer" button.
3. Some common items have been instrumented in the sim code but not outfitted in the -a

[2015-12-09 17:12] samreid commented on #107
I asked @jbphet for help disposing the past game views (essential for (1) above) and we are going to try to connect later on.

[2015-12-09 17:27] jbphet opened #111 "Migrate to use common code in the shred repo"
The original Java project for this simulation included another "flavor" (a.k.a. simulation) called "Isotopes and Atomic Mass".  That second simulation is now being ported to HTML5, and the common code shared between the two is being placed in a separate repository named "shred".  For the initial port of Isotopes and Atomic Mass, we are creating the shared code in shred but not propagating it back

[2015-12-09 17:30] samreid commented on #111
I am also instrumenting BAA components like the periodic table for phet-io. This effort will have to be duplicated in shred and re-tested when BAA uses shred.

[2015-12-09 18:00] samreid commented on #107
I investigated (2) by adding instance proxy support for buttons, and it seems to be working well.

[2015-12-09 18:00] samreid commented on #107
I fixed (3) in prior commits.

[2015-12-09 18:05] jbphet commented on #111
Hmmm, good point @samreid.  In your opinion, should this factoid tip the scales toward integrating the shred code now, as it is created, rather than later when it is essentially done?

[2015-12-09 19:56] samreid commented on #111
It really depends whether (a) we are intending to fully instrument all screens of Build an Atom for phet-io or (b) we are just investigating the game screen for prototyping purposes.

This is a question for @kathy-phet.  If we are fully instrumenting all screens of Build an Atom for phet-io purposes now, then it should be refactored to use shred.

[2015-12-11 17:03] samreid commented on #111
At yesterday's phet-io meting, @kathy-phet and @ariel-phet said:

[2015-12-11 17:04] samreid commented on #107
At yesterday's meting, @ariel-phet suggested:

[2015-12-11 19:46] jbphet commented on #111
I discussed this with @aadish today, and he will start efforts in this direction shortly.  He will start off by eliminating all files in build-an-atom that are unchanged versus their shred versions, and then will start working on those that have changed.  I've asked him to ping @samreid whenever he intends to spend time working on this so that the two of them can strive to avoid merge issues.  @aa

[2015-12-15 18:57] pixelzoom opened #112 "poorly named Emitter"
PeriodicTableCell line 33:

This tells me nothing about what the emitter is being used for.  In a Skype discussion, we loosely agreed that Emitter names should be verbs that indicate what happened.  Eg, boundsChanged, visibilityChanged.  In this case, a better name is probably `cellPressed` (and I had to read the code to guess that.)

Assigning to @samreid since he created this Emitter.

[2015-12-17 00:48] samreid commented on #107
Instrumented game types in the above commit.

[2015-12-17 00:58] samreid commented on #112
Thanks for identifying this problem @pixelzoom, I fixed this above--I went with `cellPressedEmitter`.   I chose this because `cellPressed` sounds too much like a method name or boolean value.  @pixelzoom review if you wish.

[2015-12-17 04:04] pixelzoom commented on #112
In the Skype discussion captured in https://github.com/phetsims/axon/issues/81, the majority opinion expressed was to leave off the "Emitter" suffix.  The change you've made is contrary to that, so I'm going to leave this open until we've discussed https://github.com/phetsims/axon/issues/81.

[2015-12-22 19:25] pixelzoom commented on #112
In phetsims/axon#81, the consensus was changed to "use Emitter suffix".  Closing.

[2015-12-22 19:25] #112 closed

[2015-12-28 22:48] jbphet opened #113 "check that layout bounds are consistent with target aspect ratio"
This sim was written a while ago, and the layout bounds defined in the SharedConstants.js file seem to be a bit different from what is in other sims.  We should probably make sure that the aspect ratio is consistent with other sims.  I believe that the aspect ratio currently is set to match that of an iPad.

[2016-01-04 17:37] aadish commented on #104
Build an atom is now using the periodic table in the shred. Which has this issue fixed.
@jbphet can you look at it

[2016-01-05 19:49] jbphet commented on #104
For reference, here is a screenshot of the periodic table in the version of BAA that is currently published on the PhET website:
![baa-periodic-table-with-errors](https://cloud.githubusercontent.com/assets/3082831/12125734/42783d40-b3aa-11e5-8f7f-b7ea8be87085.png)

Here is the table from the current version on the master branch:
![baa-periodic-table-fixed](https://cloud.githubusercontent.com/asset

[2016-01-05 22:22] aadish commented on #104
Added options for enabled , disabled and selected cell color.

[2016-01-06 16:37] jbphet commented on #104
Looks good.  Assigning to @amyh-phet to look at the table and verify.  It should probably be checked on all three screens.

[2016-01-06 18:02] amyh-phet commented on #104
Checked all screens and verified that the periodic table is correct.  Assigning to @jbphet to deploy.

[2016-01-06 19:08] aadish opened #114 "Nav Bar Symbol Icon is incorrect"
On the Nav Bar Symbol Icon shows Hydrogen with 2 protons which is incorrect

[2016-01-08 18:53] jbphet commented on #104
Closing, since @amyh-phet says the table looks good.

[2016-01-08 18:53] #104 closed

[2016-01-08 19:37] jbphet commented on #114
It appears that some fixes that were made on the 1.1 branch for the symbol were never propagated to the master branch.  I couldn't just cherry-pick the commit from the 1.1 branch because the artwork asset files have been converted from SVG to Adobe Illustrator since the 1.1 release, so I manually imported the old SVG files, saved them as AI files, and re-exported the errant icon.  Should be taken

[2016-01-08 19:37] #114 closed

[2016-01-11 18:41] pixelzoom opened #115 "build failure and unused strings"
Failure is `Fatal error: shred is missing from phetLib in package.json`, see last line of output below.

[code]

[2016-01-12 04:34] samreid opened #116 "Instance variables should be declared in the constructor"
the inherit call in ToElementProblemView.js begins like so:

[code]

The problem is that periodicTableAtom and neutralOrIon are not instance variables, but class variables.  It seems like the intention for these to be instance variables.  This sim has passed QA so this is probably a latent bug.

I only saw 2 other files with this pattern, and they may be singletons: RewardNode.js and BuildAnAtomMo

[2016-01-13 05:17] samreid commented on #107
Level 1 is pretty well instrumented for the data stream.  My next steps:
1. Fix the random number generator for input stream playback
2. Make sure it is easy to get a game summary
3. Make sure it is possible to load it up in a specific game or problem type

[2016-01-14 16:39] samreid commented on #107
My current recommendation:

Investigate instrumenting Random instances with tandem (as other instances are instrumented), and see if we can send the seed values in such a way that we can still support mirroring for testing.

[2016-01-15 04:07] samreid commented on #107
Most (all?) of the important information is passed to LevelCompletedNode, which serves as a central point (across many games) for knowing when a level is complete.  However, it feels somewhat hack-ish to put hooks into that constructor to transmit results of the game.  On the other hand, putting the message elsewhere will require code duplication and increased places where things can get out of sy

[2016-01-15 05:25] samreid commented on #107
I added the game summary in the above commits, it will look like this in the data stream:

[code]

[2016-01-15 06:10] samreid commented on #107
After the above commit, any of the four levels can be launched immediately with query parameters like:

[2016-01-15 07:16] samreid commented on #107
Forthcoming changes allow the game problem types to be selected, for instance:

Breaking this down, we have the first command which chooses the type of problem for level 1

and the second command which starts level 1 with the selected problem type:

The names aren't great, but this works.  This will be a much larger investment if we want to iron out all of the names.

[2016-01-15 07:19] samreid commented on #107
We could do something similar to restrict the number of problems per game, but that would be a more intensive refactoring in the BAA code.

[2016-01-15 07:24] samreid commented on #107
To end a game after a single challenge, you could listen for events of this form:

[code]

and then close the iframe.  This seems straightforward and hence does not need to be implemented as a feasibility test.  We could choose to implement it as a demo though.

[2016-01-15 07:31] samreid commented on #107
I've explored selection of level/challenges and it is working well.  I'll leave https://github.com/phetsims/together/issues/215 for further streamline/demo possibilities, but as far as this issue is concerned that part is complete.  The last thing to do here is grind through all of the problem types and instrument their components.  We also need to instrument the vibe "continue" button at the end

[2016-01-15 18:07] samreid opened #117 "Check button overlaps the buckets"
Discovered during #107

![image](https://cloud.githubusercontent.com/assets/679486/12360932/21484c84-bb78-11e5-8fe1-358283d79543.png)

[2016-01-15 18:26] samreid commented on #107
I got through 14 of the 15 problem types, will commit shortly.  Still need to hit `symbol-to-schematic`, will be extra work since you can drag electrons, protons, neutrons into the atom.

[2016-01-15 20:58] elisemorgan opened #118 "Double, Long String Tests"
Related to https://github.com/phetsims/tasks/issues/479

Test device: Personal Mac

Operating System: OS X 10.10.5

Browser: Chrome 47.0.2526.106

Problem description: Some overlap with reset button in double test. Some buttons such as "Start Over" in Game are pushed out of screen in long test.

Steps to reproduce: Double and Long String tests

Severity:

Screenshots:
Double:
![screen shot 2016-01

[2016-01-16 14:46] samreid opened #119 "Instrument the symbol-to-schematic game type"
From https://github.com/phetsims/build-an-atom/issues/107, instrument the `symbol-to-schematic` problem type.

[2016-01-16 14:47] samreid opened #120 "iterate through the wrappers and check compatibility with the game instrumentation"
From #107 iterate through the wrappers and check compatibility with the game instrumentation

[2016-01-16 14:50] samreid commented on #107
I've created new issues for the remaining work for the game instrumentation.  We discussed that after I complete the game instrumentation, I would leave instrumentation of screens 1-2 for someone else to instrument in the future.  Unassigning.

[2016-01-18 06:43] samreid commented on #119
I'm demoting this priority until publication issues are sorted out.

[2016-01-18 06:43] samreid commented on #117
I'm demoting this priority until publication issues are sorted out.

[2016-01-18 06:44] samreid commented on #120
I'm demoting this priority until publication issues are sorted out.

[2016-01-29 21:43] jbphet commented on #115
Changes look good, grunt now succeeds without any warnings about unused strings.  Closing.

[2016-01-29 21:43] #115 closed

[2016-02-03 17:21] samreid commented on #117
Here's how it looks on the website:

![image](https://cloud.githubusercontent.com/assets/679486/12790517/d80a6c22-ca5f-11e5-9daa-6abf7c7e52c5.png)

@jbphet can you take a quick look and let me know what you think?

[2016-02-04 18:00] samreid commented on #107
A reminder from today's status meeting that @aadish will be working on this code as I continue instrumentation, and I'll need to synchronize with him.

[2016-02-08 20:09] jbphet commented on #94
@aadish is currently working on cleanup of this simulation, assigning to him for resolution.

[2016-02-08 23:06] ariel-phet commented on #90
Checked latest pull.

Purple, love it! Also checked in grayscale view, and no obvious issues with color choice. Closing

[2016-02-08 23:06] #90 closed

[2016-02-09 23:19] jbphet commented on #79
Fixed long ago, closing.

[2016-02-09 23:19] #79 closed

[2016-02-09 23:20] jbphet commented on #78
Unable to reproduce, probably fixed a while back.  Closing.

[2016-02-09 23:20] #78 closed

[2016-02-09 23:22] jbphet commented on #70
Assigning to @aadish since I believe that the checkbox size is now an option to Checkbox, so this request can be implemented.

[2016-02-09 23:27] jbphet commented on #58
Assigning to @phet-steele to see if this can be reproduced on a Chromebook.  If not, it can be closed.

[2016-02-09 23:27] jbphet commented on #47
Closing, since WinXP is no longer a supported platform.

[2016-02-09 23:27] #47 closed

[2016-02-09 23:30] jbphet commented on #38
Assigning to @phet-steele to qualify performance on most recent iOS+iPad versions and log an opinion as to whether performance is acceptable.

[2016-02-10 00:01] jbphet commented on #23
We're no longer testing on and fully supporting Win 8 touch devices.  Closing.

[2016-02-10 00:01] #23 closed

[2016-02-10 00:01] jbphet commented on #43
We're no longer testing on and fully supporting Win 8 touch devices.  Closing.

[2016-02-10 00:01] #43 closed

[2016-02-10 00:01] jbphet commented on #42
We're no longer testing on and fully supporting Win 8 touch devices.  Closing.

[2016-02-10 00:01] #42 closed

[2016-02-10 00:02] jbphet commented on #54
We're no longer testing on and fully supporting Win 8 touch devices.  Closing.

[2016-02-10 00:02] #54 closed

[2016-02-10 00:03] jbphet commented on #36
It's been a while since we've looked at this, so I'm assigning it to @phet-steele to determine whether it's still an issue or can be closed.

[2016-02-10 00:47] jbphet commented on #98
This was resolved in 3d7e1761b096cbc19238a2ecbf76feba8db1235e, closing.

[2016-02-10 00:47] #98 closed

[2016-02-10 18:50] jbphet commented on #89
Renderers are rarely specified anymore since Scenery generally decides what is most appropriate and there is a query param to override if necessary, see https://github.com/phetsims/joist/issues/221.  Closing.

[2016-02-10 18:50] #89 closed

[2016-02-10 19:13] phet-steele commented on #58
Tested 1.2.0-dev.2 on two chromebooks, both build 7647.73.0 and browser 48.0.2564.92.

Firmware for each:
Peppy.4389.93.0 (Acer)
Snow.2695.117.0 (Samsung)

Everything performed exceptionally on these two devices :+1:

[2016-02-10 19:13] #58 closed

[2016-02-10 20:00] phet-steele commented on #38
Tested 1.2.0-dev.2:

iPad Air 2 iOS 9.2: fantastic performance as usual.

iPad 2 iOS 9.3 Beta 3: dragging is slightly sluggish, could be improved but isn't too bad. Pressing "Next" to go to the next challenge in the first game (with the periodic tables) maybe has a ~0.5 second delay.

iPad 3 iOS 9.2: :-1: :-1: :-1: :-1: :-1: :-1: :-1: :-1: :-1:

[2016-02-10 20:36] phet-steele commented on #36
Tested most recent versions of Chrome and FF on both Windows 7 & 8.1. 1.2.0-dev.2 performed admirably.

[2016-02-10 20:36] #36 closed

[2016-02-17 19:01] jbphet commented on #101
As part of addressing this, a query parameter that causes the reward node to be shown regardless of score should be added so that this can be easily tested.  For an example of how this can be done, please see reactants-products-and-leftovers\js\game\view\ResultsNode.js, line 45 as of this writing.

[2016-02-17 19:07] samreid commented on #119
Instrumentation complete, closing.

[2016-02-17 19:07] #119 closed

[2016-02-17 19:44] samreid commented on #120
The only wrapper that needs more work is the state wrapper.  I'll close this one and create a new issue for state.

[2016-02-17 19:44] #120 closed

[2016-02-17 19:44] samreid opened #121 "Save/load state in phet-io"
From #120

[2016-02-22 04:02] samreid commented on #121
As I mentioned during Thursday's status meeting, Build an Atom's game is powered by a finite state machine that is less amenable to state capture/playback than the Property-based system in many of the other instrumented simulations.  This is not a failing in Build an Atom--it is using a paradigm suited for the game but which is not currently supported by the state features of PhET-iO.  I suspect i

[2016-02-22 15:51] jbphet commented on #121
I've used a state machine approach in pretty much all the games I've implemented for PhET, so this problem with instrumenting the game portion of the sim is probably not specific to Build an Atom, but will likely come up in many if not all games in PhET simulations.  Off the top of my head, I would say that Balancing Act, Area Builder, and Arithmetic all use a similar state-driven approach.  @samr

[2016-02-22 15:54] jbphet commented on #121
Also, the Expression Exchange simulation is currently in development, and it has a game screen.  I normally would use a state-driven approach to implement this, since it has worked well in the past.  Should I consider an alternative design?  If so, we should discuss and document a game structure that is more compatible with the way that phet-io works.

[2016-02-22 18:34] samreid commented on #121
Proceed as per usual for Expression Exchange, I'll look into how PhET-iO should deal with the game states.

[2016-02-23 18:35] ariel-phet commented on #121
It seems that this comment is ominous from @samreid

It seems we should discuss at PhET-iO since for games this seems like a major feature of PhET-iO

[2016-02-25 20:19] samreid commented on #121
Both Build an Atom and QuizGameModel use axon, so that is amenable to existing PhET-iO structure, we just need a way to save/load the challenge instances.  That will be the first place to investigate this.

[2016-02-25 20:22] samreid commented on #121
May also be possible to serialize all challenge types by using:

[code]

[2016-02-27 02:06] ariel-phet commented on #15
@aadish please evaluate this issue as you prepare Build an Atom for redepoly

[2016-03-01 23:53] aadish commented on #85
fixed closing

[2016-03-01 23:53] #85 closed

[2016-03-01 23:56] aadish commented on #118
@jbphet this has been done, assigning you to review it

[2016-03-01 23:56] aadish commented on #117
fixed closing

[2016-03-01 23:56] #117 closed

[2016-03-01 23:57] aadish commented on #113
fixed closing

[2016-03-01 23:57] #113 closed

[2016-03-29 22:57] jbphet commented on #118
Changes look good, and I did some basic testing using ```stringTest=double```, ```stringTest=long```, and ```stringTest=rtl```, and all looked good.  Unassigning for now, and we will have QA test on the next release candidate.

[2016-03-29 23:17] jbphet commented on #116
Looks like this was fixed for ToElementProblemView.js in 3d7e1761b096cbc19238a2ecbf76feba8db1235e by @samreid while working on 'tandemization'.

[2016-03-29 23:27] jbphet commented on #116
I fixed an instance of this anti-pattern in BuildAnAtomModel, and it looks like @samreid fixed one in ToElementProblemView, and the common code RewardNode is now used in the sim instead of the previous unique one.  That means that everything listed above should new be addressed.  Assigning to @samreid for verification.

[2016-03-29 23:34] jbphet commented on #75
This issue is about 2.5 years old and we haven't seen it or heard any other reports of it.  I'm going to assume that something got fixed in the browser(s) and/or Scenery that made this go away.  Closing.

[2016-03-29 23:34] #75 closed

[2016-03-29 23:35] jbphet commented on #66
@ariel-phet - can you test on the latest master version and decide if this is still and issue?

[2016-03-29 23:37] jbphet commented on #41
This sim has been published for 2+ years and we haven't heard any reports of this.  Also, it seems like very few of our users are on Windows Surface devices.  I think it's safe to close this.

[2016-03-29 23:37] #41 closed

[2016-03-30 00:39] ariel-phet commented on #66
Tested on Win 10 chrome on my pretty fast laptop...still appeared a bit jerky to me. Looks like GC

[2016-03-30 13:08] samreid commented on #109
@jbphet said:

The work in master has superceded this branch, and this branch can be deleted.  I will delete it shortly.

[2016-03-30 13:08] samreid commented on #109
Branch deleted, closing.

[2016-03-30 13:08] #109 closed

[2016-03-30 13:10] samreid commented on #66
renderer:'webgl' may be a possible avenue for investigation in improved performance, if all of the reward nodes can easily be toImage()d

[2016-03-30 17:26] aadish commented on #70
this has been fixed, would be tested in next round of testing

[2016-03-30 17:27] aadish commented on #93
this has been fixed, closing the issue

[2016-03-30 17:27] #93 closed

[2016-03-30 20:47] aadish commented on #94
fixed, closing

[2016-03-30 20:47] #94 closed

[2016-03-30 20:49] aadish commented on #101
this has been changed and would be tested in the next release

[2016-03-30 20:50] aadish commented on #110
new scoreboard has been added assigning to @jbphet to review

[2016-03-30 20:54] aadish commented on #111
the common code has been ported to shred and assigning @jbphet for review
see commits
8095f9dd3e51bdf35754f4c32cf4f0bef85f0514
14c6d0150f348886db657fa22adfce6daa23dd0d
bcb4aa52e1edee838d9a1c55e23d5cf816b73150
37023d46b1d315b64bbe56c52f5365b27aa704cc
50470ab9ce532da9e40b6a2ff305c764717ce825
940c2d767c955287dbc553e3c3437557d6a627c3
1f8a8afefd1817c25a7e423d5bd9e5e57cbd75f5

[2016-03-30 22:16] aadish commented on #66
@ariel-phet we reduced the number of nodes for the reward screen and it looks better
can you check the master version and you can use reward as query parameter and it will always give the reward screen whatever the score maybe
And it should be comparable to all other reward nodes in other simulations as we are using the common code reward node

[2016-03-31 02:18] ariel-phet commented on #66
@aadish definitely looks better. I would call it acceptable on my machine now, but I would still reduce the speed of fall a bit (25 percent or so) if possible.

[2016-03-31 07:04] samreid commented on #116
BAAGameModel still has this instance variable declared in inherit:

[code]

and the author probably intended these constants to be static, not instance variables:

[code]

I left the latter marked in this issue because they are technically instances variables which are not declared in the constructor, but for this case, the more appropriate solution seems to move them to the static declarations in

[2016-03-31 18:13] aadish commented on #66
@ariel-phet we tested this in firefox and looks far more noticeable as compared to other browsers that is what you were referring to initially

[2016-03-31 18:29] phet-steele opened #122 "Game should retain most recent score"
The level selection screen needs to be changed to display stars for the most recent score achieved in a level. Currently the sim will always display the high score. Not a high priority issue, no need for a maintenance release. It's okay to wait until next re-deploy. See https://github.com/phetsims/balancing-act/issues/63 for the original issue.

[2016-04-01 02:39] ariel-phet commented on #66
@jbphet and I discussed and decided he will make a more general issue in vegas to at some point optimize reward node. This is good enough for now.

Assigning to @jbphet to close this issue once he has made the more general vegas issue.

[2016-04-01 18:57] aadish commented on #15
Tested the current deployed simulation and master version of the simulation on iPad2 and iPad3 and performance wise master version is better than the deployed version.
assigning @jbphet to have a look at it and close the issue if performance is acceptable

[2016-04-01 23:17] jbphet commented on #66
The common code issue has been created, closing this one.

[2016-04-01 23:17] #66 closed

[2016-04-01 23:45] jbphet opened #123 "stars missing from end of game level dialog"
This is on current master, noticed while testing and reviewing other fixes.  Looks like this:

![baa-missing-stars](https://cloud.githubusercontent.com/assets/3082831/14222731/79f07e92-f831-11e5-8e9f-26bb53b67e06.PNG)

[2016-04-01 23:48] jbphet commented on #116
I fixed the two issues pointed out in the comment above.  Since @samreid said that the other inherit calls look good, I'm closing this one.

[2016-04-04 18:10] #116 closed

[2016-04-04 18:10] jbphet commented on #123
This was a result of some changes that had been made locally by me (not committed) for #116.  These are fixed, and this is no longer an issue.  Closing.

[2016-04-04 18:10] #123 closed

[2016-04-05 21:28] jbphet commented on #111
Changes look good, and I checked to make sure that none of the files in shred are also in BAA and there is no overlap.  Closing.

[2016-04-05 21:28] #111 closed

[2016-04-05 21:30] jbphet commented on #110
The new scoreboard has been integrated and the layout of the challenges has been adjusted to look good.  Closing.

[2016-04-05 21:30] #110 closed

[2016-04-05 21:37] jbphet opened #124 "remove unused strings in translations"
A lot of the strings for Build an Atom have moved to the shred repository, and as a result a lot of the translation files that were moved over from Java are no longer used.  This should be cleaned up.

[2016-04-05 22:54] jbphet commented on #106
I just reviewed the string names and they look reasonable.  I've also removed unused strings from pre-existing translations, see #124.  Closing.

[2016-04-05 22:54] #106 closed

[2016-04-05 23:01] jbphet commented on #124
The unused strings have been removed, and there are no strings in the autoport section of the babel repository.  Our work here is done, closing.

[2016-04-05 23:01] #124 closed

[2016-04-05 23:04] jbphet commented on #70
Code changes look good, and the panel looks better as well.  Closing.

[2016-04-05 23:04] #70 closed

[2016-04-06 21:37] jbphet commented on #101
Generally this looks good.  I did a little cleanup, and also logged an issue about the base type leaking memory.  No further work required for this issue - closing.

[2016-04-06 21:37] #101 closed

[2016-04-06 22:07] jbphet commented on #38
I just tested on an iPad 3 running iOS 9.3 (our iPad 3 - "Disessa" - has been upgraded since this was last tested).  The performance isn't great, but the sim is definitely usable.  It's also no worse than the currently published version.  Regardless, I'll try a few basic things to try to improve performance.

[2016-04-07 22:59] jbphet opened #125 "code review checklist"
This sim was originally published quite a while back, and since it's being cleaned up to make it translatable, we decided to run through the code review checklist to bring it closer to PhET's current development standards.

**Build and Run Checks**

- [x] Does the sim pass lint?
- [x] Does the sim build without errors?
- [x] Does the sim start up? (requirejs and built versions)
- [x] Does the sim

[2016-04-08 19:37] aadish commented on #99
dispose functions have been added to tackle memory leak, assigning to @jbphet to review

[2016-04-11 19:24] jbphet commented on #99
For the most part these changes look good.  There were a handful of places where an anonymous update function was consolidated into something that didn't really convey what it does, for instance, one of the functions was named ```depiction```.  Please review the names of the functions and make it is clear what it does, even if it's just changing the name to something like ```updateDepiction```.

[2016-04-11 19:48] jbphet commented on #99
@aadish and I did a lot of profiling on this after the changes that he submitted above.  In order to eliminate leaks from the other screens and from the framework, we ran with the ```screens=3``` query parameter.  With this, we saw a pattern where the heap memory would increase for the first several minutes of fuzz testing, then would go up an down, maxing out at about 17.7 MB.  This leads me to c

[2016-04-11 20:08] aadish commented on #99
added a wrong link in commit message,

see commit
https://github.com/phetsims/build-an-atom/commit/eb721e2e04cadb9112a4d702ca4dacb73876af2b
https://github.com/phetsims/shred/commit/e8d486f5d85c051e6605cc2d35ac2d8450092af1

[2016-04-11 22:34] jbphet commented on #99
Changes look good, memory leaks seem to have been addressed.  Closing.

[2016-04-11 22:34] #99 closed

[2016-04-11 23:24] jbphet commented on #38
To try to quantify the performance in a repeatable way, I ran the sim on the test iPads using the ```profiler``` query parameter, went to the first screen, picked up a proton with my finger, and moved it clockwise around the outer electron shell at one revolution per second.  I used a metronome to time the motion.  On "Disessa", an iPad 3 running iOS 9.3, the performance went down to about 9 fps.

[2016-04-11 23:27] jbphet commented on #38
In my opinion, the sim is quite usable on the iPads I tested it on, which are at this point some older devices.  I think this is about as good as it's going to get without a major time investment.  I'm going to unassign this issue and will have it tested during upcoming RC testing to determine whether it's acceptable.

[2016-04-11 23:31] jbphet commented on #15
Performance is great on Chrome, Firefox, and Edge on my Win 10 machine.  There are some concerns about iPad performance, but those are being tracked under #38.  Also, we are about to do a round of RC testing for release 1.2, so any performance issues will be noted then.  I think it's safe to close this one.

[2016-04-11 23:31] #15 closed

[2016-04-12 20:58] jbphet commented on #38
I reviewed the performance of this with @ariel-phet yesterday, and we agreed that the performance isn't great on iPad 3, but it's reasonably acceptable given the relatively low usage of this device.  Things are better on iPad 2 and way better on iPad 4, so this issue is not a roadblock to redeployment.

[2016-04-13 19:01] aadish commented on #122
changes have been made to retain the last score and also added the best time on game level selection   node

[2016-04-15 20:03] elisemorgan opened #126 "Score does not refresh when page is refreshed"
Related to https://github.com/phetsims/tasks/issues/577
Test device: Win 8 Laptop, Socrates

Operating System: Windows 8 64-bit

Browser: Edge 25.10586.0.0

Problem description: The star score will not go blank when 'refresh all' button is selected on the Game page.

Steps to reproduce: Play a round to earn a score. Refresh Game page.

Severity:

Screenshots:

Troubleshooting information (do not e

[2016-04-15 22:03] brroberts1231 opened #127 "Continue button doesn't appear after game is completed"
Test device: Dirac

Operating System: OSX 10.9.5

Browser: Safari

Problem description: If you click the orange refresh button before playing any one of the games, after you complete the game, the window telling you your score with the continue button will not appear, and you will be stuck on the ending screen, with the confetti falling forever if you completed with a perfect score. The only way t

[2016-04-15 22:09] brroberts1231 commented on #127
Actually it seems to most commonly happen if you click the orange refresh all button between the two times you play the game.

[2016-04-18 17:48] elisemorgan opened #128 "Games don't end well after Refresh All button is clicked"
Related to https://github.com/phetsims/tasks/issues/577

Test device: Chromebook, Vygtosky

Operating System: Chrome OS 64-bit

Browser: Chrome 49.0.2623.111

Problem description: In the last game, once the question is answered and the "correct" smiley face appears, clicking the Next button does nothing and the game will not exit. In the first game, https://github.com/phetsims/build-an-atom/issues

[2016-04-18 17:53] elisemorgan commented on #128
Will attempt to recreate on Mac for screen recording

[2016-04-18 18:13] elisemorgan commented on #128
Recreated on Mac OS X 101.10.5 Chrome 49.0.2623.112
Three different results seen at end of games:
https://drive.google.com/file/d/0B_TAL-jnJOoKYVJjWi1MYnQ2SU0/view?usp=sharing
https://drive.google.com/file/d/0B_TAL-jnJOoKR2VIYV8zbVRRaXc/view?usp=sharing
![screen shot 2016-04-18 at 12 06 47 pm](https://cloud.githubusercontent.com/assets/12610678/14614538/df4d6e82-055e-11e6-9c1d-fa64e55af451.jpg)

[2016-04-18 18:16] elisemorgan commented on #128
Note: not specific to chrome, recreated on Safari on OS X 10.10.5 and Safari 601.1 on iPad 3

[2016-04-19 19:33] phet-steele opened #129 "1st level selection image needs to be updated"
The image for the first level selection button is quite wrong. The periodic table here has a couple errors, notably two "Sc" panels that are causing "Y", "Zr", and "Nb" to be shifted over one group.

![wrongtable](https://cloud.githubusercontent.com/assets/5863899/14652774/1713f668-0633-11e6-8fdc-ce1640473f65.PNG)

Seen on Win 10 browsers. For phetsims/tasks/issues/577.

[2016-04-20 17:22] jbphet commented on #129
I've fixed the layout and also improved the fading on the top and the lower right corner.  It now looks like this:
![baa-periodic-table](https://cloud.githubusercontent.com/assets/3082831/14683824/09666dd6-06ea-11e6-8b11-4c0870250fa8.PNG)

Unassigning for now, will re-test on next release candidate.

[2016-04-20 17:26] jbphet commented on #129
Hang on - not quite right yet - should have Sr on bottom row, not Sc.

[2016-04-20 18:01] BryceAG opened #130 "Neutrons don't say unstable"
Test device:
Bates

Operating System:
Win 7

Browser:
Chrome, IE, Firefox

Problem description:
If you have the unstable option selected, and put just neutron(s) in the atom for the first two modes, the neutron(s) will shake, but won't say Unstable

Steps to reproduce:
select the stable/unstable button, and put any number of neutrons in the atom without protons.

Severity:
Low

Screenshots:
![imag

[2016-04-20 19:24] jbphet commented on #130
I have a vague memory that this was done on purpose, but I'm not certain.  We don't call a bunch of electrons with no protons and ion either.  Maybe we didn't want to label it with anything because it's not really an atom.  Having said that, neutrons on their own *are* unstable, so maybe it would be better to label them as such.

At any rate, this behavior is the same as the currently live version

[2016-04-20 19:49] jbphet commented on #129
Okay, this is the actual fixed version:

![baa-periodic-table](https://cloud.githubusercontent.com/assets/3082831/14688205/aba3585c-06fe-11e6-848f-01b090177412.PNG)

[2016-04-20 20:44] ariel-phet commented on #130
I would say leave as is, but assigning to @amyh-phet for her input

[2016-04-20 20:50] amyh-phet commented on #130
@ariel-phet  and @BryceAG  and @jbphet   I'm comfortable with leaving as is.   It seems to me the stable/unstable label is only for an atom.  If you have only neutrons in the model, you haven't created an atom yet so no label would be appropriate.

[2016-04-20 20:53] ariel-phet commented on #130
Sounds good, closing

[2016-04-20 20:53] #130 closed

[2016-04-20 22:43] phet-steele commented on #76
Yea definitely not happening on Chrome 50.0.2661.75 m (64-bit) Win 10:
![goodchrome](https://cloud.githubusercontent.com/assets/5863899/14692770/b3884ad8-0716-11e6-885b-1e7ebb70be11.PNG)

[2016-04-20 22:43] #76 closed

[2016-04-20 22:53] phet-steele commented on #63
This never came up during testing on our supported platforms. tried to do it myself for ~10 minutes, couldn't. Closing.

[2016-04-20 22:53] #63 closed

[2016-04-21 21:58] phet-steele commented on #126
Fixed.

[2016-04-21 21:58] #126 closed

[2016-04-21 21:59] phet-steele commented on #127
Fixed.

[2016-04-21 21:59] #127 closed

[2016-04-21 22:06] phet-steele commented on #128
Fixed.

[2016-04-21 22:06] #128 closed

[2016-04-21 22:07] phet-steele commented on #129
Thanks @jbphet for your Illustrator prowess. Fixed.

[2016-04-21 22:07] #129 closed

[2016-04-22 17:01] jbphet commented on #122
This has been fixed and was tested as part of the 1.2 release process.  Closing.

[2016-04-22 17:01] #122 closed

[2016-04-22 17:02] jbphet commented on #118
Verified during the testing of the 1.2 release, see https://github.com/phetsims/tasks/issues/577.  Closing.

[2016-04-22 17:02] #118 closed

[2016-04-22 17:02] jbphet commented on #125
Checklist completed, release of 1.2 is pending.  Closing.

[2016-04-22 17:02] #125 closed

[2016-04-22 17:05] jbphet commented on #65
This is a multi-touch issue on a Windows 8 laptop, so we're not going to worry about it.  Closing.

[2016-04-22 17:05] #65 closed

[2016-04-22 17:06] jbphet commented on #38
Given that we've decided to move forward with the 1.2 release, and that the performance is acceptable, I'm going to close this issue.

[2016-04-22 17:06] #38 closed

[2016-05-17 16:38] phet-steele opened #131 "Automated Testing Build Errors (5/17/2016 10:00 AM)"
[code]

[2016-05-17 16:46] aadish commented on #131
fixed, closing

[2016-05-17 16:46] #131 closed

[2016-08-09 17:35] phet-steele opened #132 "Automated Testing Sim Error (8/9/2016 9:56 AM)"
[code]

[2016-08-09 17:42] phet-steele commented on #132
@pixelzoom @jbphet @samreid I actually have no idea who should handle this, so making you aware.

[2016-08-09 17:43] pixelzoom commented on #132
Looks like a PhET-iO issue with instrumenting the game.  @jbphet is responsible for this sim and @samreid is the lead on PhET-iO.  I've had no involvement in this.  So I'm going to reassign to @jbphet.

[2016-08-09 17:44] samreid commented on #132
I'll take a look.

[2016-08-09 17:45] pixelzoom commented on #132
Since this is failing in automated testing (which doesn't enable PhET-iO), I'm guessing that something was added that makes this sim fail when PhET-iO is disable.

[2016-08-09 17:50] samreid commented on #132
Fixed above and tested locally, @phet-steele can you verify?

[2016-08-09 17:59] pixelzoom commented on #132
Side note: I started looking at this, and assumed that TTandemEmitter was something similar to TNumber et. al.  But then I saw `new TTandemEmitter(...)`.  Why `new` used here, but not with other T types?

[2016-08-09 18:29] samreid commented on #132
Perhaps you have confused TTandemEmitter with TandemEmitter?  I don't see any occurrences of new TTandemEmitter in BAAGameModel.

[2016-08-09 18:33] pixelzoom commented on #132
Ah, indeed I did confused them.  Probably because of these 2 lines in the stack trace:

    at new TandemEmitter http://phettest.colorado.edu/tandem/js/axon/TandemEmitter.js?bust=1470763931154:39:57)

[2016-08-09 18:54] phet-steele commented on #132
:+1: fixed on my end.

[2016-08-09 18:54] #132 closed

[2016-08-18 02:33] samreid commented on #121
I'm going to wait until @andrewadare and I have a chance to discuss save/load in phet-io as part of  https://github.com/phetsims/phet-io/issues/319

[2016-08-25 22:56] pixelzoom opened #133 "sim relies on align:'right' default for Panels"
Related to https://github.com/phetsims/sun/issues/252, this sim relies on the old default of `align:'right'` for Panels.  Below are the stack traces for occurrences that need to be checked. These are the occurrences noted when loading the sim in requirejs mode. If the sim creates Panels dynamically, you should do further checking with fuzzMouse.

[code]

[2016-08-26 14:25] pixelzoom commented on #133
None of the above call sites use the `minWidth` option, so their behavior will be unaffected.  Closing.

[2016-08-26 14:25] #133 closed

[2016-09-08 22:02] pixelzoom opened #134 "screen icons fail validation"
After adding icon validation to joist.Screen (see phetsims/joist#352), it was discovered that one or more home screen icons fail validation.  They appear to be smaller than the minimum size of Screen.HOME_SCREEN_ICON_SIZE.  Looks like the associated PNG files are too small. Run with assertions enabled (`?ea`) to reproduce the problem.

[2016-09-09 19:33] jbphet commented on #134
Icons have been adjusted to be the required size.  I also changed the Adobe Illustrator files so that the artwork itself is the required 548x373, but ended up having to scale the exported PNG files a little bit (using MS Paint) to get the size to be exactly correct.  Closing.

[2016-09-09 19:33] #134 closed

[2016-09-20 18:03] phet-steele opened #135 "Automated Testing Build Error (9/20/2016 11:33 AM)"
[code]

[2016-09-20 18:04] samreid commented on #135
Fixed in 531be01f6bd20a15d8196380bfe97f2409c87a02 @phet-steele can you verify?

[2016-09-20 22:41] phet-steele commented on #135
👍

[2016-09-20 22:41] #135 closed

[2016-09-26 16:22] oliver-phet opened #136 "User reported issue: elements go to Einsteinium, but untranslatable"
Reported by Sandor Sep 24, 2016:
1.       Open Build an atom
2.       Start Game
3.       Select the third game
4.       Sooner or later you get a game similar to this

If you increase the atomic number you can go up to 99, Einsteinium:
![image](https://cloud.githubusercontent.com/assets/5090275/18842632/e0efced6-83d2-11e6-967c-9a5ad6835e5f.png)

Maybe you should limit it at 18, Argon.
![image](ht

[2016-09-26 16:34] jbphet commented on #136
I just looked at the source code and, indeed, we only have translatable strings for elements through argon, which is atomic number 18.  It wouldn't be hard to make the rest of the strings translatable - maybe an hour of work.  This work would be done in the shred repo, and the translated strings may be useful for other simulations in the future.

Assigning to @ariel-phet to decide if we should lim

[2016-09-26 22:42] ariel-phet commented on #136
@jbphet we should make them translatable, putting at medium priority, but feel free to have @aadish do this ASAP

[2016-09-27 01:55] aadish commented on #136
on it @ariel-phet @jbphet

[2016-10-03 18:34] aadish commented on #136
@ariel-phet @oliver-phet

all the element strings are translatable and live on the website

@oliver-phet you can inform this to the translators and close this issue

[2016-10-04 15:18] ariel-phet opened #137 "Status of iO instrumentation?"
@jbphet and @samreid can you let me know the status of iO instrumentation for this sim?

This might get some priority because of our sonification collaboration, but likely it would be fine to have the sim (but not the game portion fully instrumented).

[2016-10-04 16:50] jbphet commented on #137
A fair amount of work was done early on to instrument screens 1 and 2, but we left out screen 3 - the game screen - while some things were worked out with the need for repeatable pseudo-random behavior.  I just glanced at the code and see a lot of tandems and such, but I think @samreid will have to provide the details of the precise state of affairs.

[2016-10-11 20:25] jbphet opened #138 "rewrite to no longer use PropertySet"
See phetsims/axon#102 for background.

[2016-10-13 19:59] samreid commented on #107
At today's meeting, we concluded that when @jbphet begins on this (hopefully within a week or so), @samreid will be on call for providing assistance.

[2016-10-14 03:49] samreid commented on #137
The instrumentation from https://github.com/phetsims/build-an-atom/issues/107#issuecomment-253622172 is more extensive than I expected.  The instance proxies wrapper reveals the following components in screen 1 are already instrumented:

* the particle positions
* the particle input listeners
* Show Element Name Check Box
* Show Neutral Or Ion Check Box
* Show Stable Or Unstable Check Box
* Label

[2016-10-14 03:50] samreid commented on #107
As discussed in #137

The instrumentation from https://github.com/phetsims/build-an-atom/issues/107#issuecomment-253622172 is more extensive than I expected.  The instance proxies wrapper reveals the following components in screen 1 are already instrumented:

* the particle positions
* the particle input listeners
* Show Element Name Check Box
* Show Neutral Or Ion Check Box
* Show Stable Or Unsta

[2016-10-14 04:32] aadish commented on #138
@samreid i was deprecating the property set in build-an-atom and just wanted to make sure that the way I am changing the tandem used in property set is correct

could you review this commit to see that tandem is ported correctly
7a6da6aac8f8a2b4b4bdf19f6cd3c761ffb29cde

[2016-10-14 16:49] samreid commented on #138
That change set looks correct.  A few additional things to note: the es5 get/set methods such as BAAGameModel.state will no longer exist, so the usage sites must be rewritten to use baaGameModel.stateProperty.get(), for instance.  Also, you will need to pass phetioValueType arguments to the Property options.

[2016-10-15 15:39] ariel-phet commented on #137
@samreid thanks for the info, but clearly more to be done to get the sim instrumented. Closing.

[2016-10-15 15:39] #137 closed

[2016-10-18 18:35] aadish commented on #138
@samreid thanks for reviewing it and changes have been made accordingly

[2016-10-28 19:28] samreid commented on #107
We are outfitting this for phet-io in part for usage in a 3rd party's research for accessibility, such as being able to throw electrons with gestures.

[2016-10-31 21:08] pixelzoom opened #139 "Replace getQueryParameter with QueryStringMachine"
Factored out of https://github.com/phetsims/query-string-machine/issues/15

[2016-10-31 21:26] #139 closed

[2016-11-11 23:19] #136 closed

[2016-11-22 01:30] ariel-phet opened #140 "Instrumentation needs for Sonification/GT collaboration"
Related to #107

@jbphet said:

[2016-12-05 06:06] samreid commented on #107
As noted in https://github.com/phetsims/phet-io/issues/730, there is partial instrumentation in the game screen which will need to be updated as we proceed.

[2016-12-06 18:06] phet-steele opened #141 "Automated Testing Lint Error (12/6/2016 10:00 AM)"
[code]

[2016-12-06 18:07] jbphet commented on #140
Brianna T also said:

[2016-12-06 18:10] jbphet commented on #140
Issue #107 is also about adding instrumentation, and is a more general version of this issue.

[2016-12-06 21:46] jbphet commented on #141
Fixed, closing.

[2016-12-06 21:46] #141 closed

[2016-12-06 23:54] jbphet commented on #140
I've published a version that I believe has the instrumentation necessary to support the items requested in comment https://github.com/phetsims/build-an-atom/issues/140#issuecomment-265225202.  That version can be found here: http://www.colorado.edu/physics/phet/dev/html/build-an-atom/1.3.0-phetiodev.1/

Assigning to @ariel-phet to determine whether we should test this before handing it over to Ge

[2016-12-07 17:48] ariel-phet commented on #140
Yes, some testing would be good, please make a task, provide some context for QA and assign to me initially.

[2016-12-08 15:57] jbphet commented on #140
Task created, see https://github.com/phetsims/tasks/issues/748.

[2016-12-09 03:28] samreid commented on #107
It's working great:

![image](https://cloud.githubusercontent.com/assets/679486/21036661/d0e08490-bd84-11e6-89b8-7d755017d349.png)

Unassigned for now, I'll work on this in conjunction with @jbphet.

[2017-01-11 19:11] jbphet commented on #140
The testing has been completed.  After talking with @samreid, I learned that I really should have done an RC and production version for sharing with GT (this is apparently our policy for sharing phet-io versions), so I went ahead and created these versions and had them sanity tested.  The link has been provided to @emily-phet, and I will assign this to her so that she can either log any problems t

[2017-01-11 19:12] jbphet commented on #140
By the way, I'm not going to put the link to the phet-io version in this GitHub issue since the issue is visible to the general public and the link is intended to be hidden.

[2017-02-07 18:27] jbphet commented on #107
Work on this was deferred for a period of time while @samreid and I worked on instrumenting Balloons and Static Electricity.  For that sim, we worked through a checklist to prompt us for each step of the instrumentation process.  I found this to be quite helpful and, even though it's a little late in the game, I'm going to add that same checklist here.  This will help me to get back up to speed on

[2017-02-07 20:06] jbphet commented on #138
I was looking at this to see if it could be closed, but I found a few usages of values that used to be properties, so I added some `preventGetSet` code and cleaned up what was hit.  We should leave this code in for a month or so and then remove, roughly in early March 2017.

[2017-02-07 23:57] jbphet commented on #107
For next time, I should continue with the item 'Pass tandem instances to common code components' starting from line 200 of `AtomView.js`.

[2017-02-15 01:22] jbphet commented on #107
I believe I've completed the step labelled "Pass tandem instances to common code components".  The next step in the checklist is "Replace types with tandemized equivalents", but things have recently changed and there are only a handful of component types that need this any more, and I believe they are all covered too.  So, next time I should start on the step "Instrument any Uninstrumented Common

[2017-02-15 01:38] jbphet commented on #107
Note that as of now the state wrapper mostly works, but the atom view, including the element label, ion-vs-neutral indicator, and the red x marker don't update when particles are moved in and out.  I think this is because the files in shred haven't been fully instrumented, so once they are, I should test this capability right away and work out any problems.

[2017-02-20 16:43] samreid commented on #107
I'm available to start assisting on the PhET-iO instrumentation for this sim.  I'll review the status and see how I can help out.

[2017-02-20 16:53] samreid commented on #107
I confirmed in build-an-atom and shred that random numbers are using joist and there are no random lodash methods being used.

[2017-02-20 16:57] samreid commented on #107
I'll take a look at the `Replace types with tandemized equivalents` step next.

[2017-02-20 17:30] samreid commented on #107
Fixed above, I'll add a checkbox in the checklist for @jbphet to review my changes.

[2017-02-20 17:32] samreid commented on #107
I didn't see any TNumbers that need units, so I checked off the "TNumber units" checkbox.

[2017-02-20 22:35] samreid commented on #107
Turning up the priority so it will show up on the top of my todo lists.

[2017-02-20 23:07] samreid commented on #107
Spot testing the instance proxies and data stream for the game screen seems like it is done or close to being done.  Would be good to review with @jbphet.

@jbphet let's touch base tomorrow and see the best way to continue.

[2017-02-22 06:48] jonathanolson opened #142 "Multiple disposal issue"
Added disposal checks in https://github.com/phetsims/scenery/issues/601 for Node, and ran into BAAGameView trying to dispose the previousView (which presumably happens multiple times).

I have a proposed fix, @jbphet can you review?

[2017-02-22 14:28] samreid commented on #107
On 2/21/2017 10:26 AM, John Peter Blanco wrote:

[2017-02-22 14:28] samreid commented on #107
On 2/21/17 11:38 AM, Kathy Perkins wrote:

[2017-02-22 21:15] jbphet commented on #142
Looks good, thanks.  Closing.

[2017-02-22 21:15] #142 closed

[2017-03-03 17:31] phet-steele opened #143 "Unused "Isotope Electron Cloud""
@jbphet, why does this sim have an "Isotope Electron Cloud"? This:

<img width="565" alt="screen shot 2017-03-03 at 10 22 54 am" src="https://cloud.githubusercontent.com/assets/5863899/23561420/6a3bcf4c-fffb-11e6-9e8b-d94ad2be52aa.png">

When set to visible, and when you have some sort of element in the play area, you see the blue cloud from Isotopes and Atomic Mass (the sim):

<img width="778" al

[2017-03-03 17:52] phet-steele opened #144 "Multiple instances of the "Electron Cloud" view property"
Why are there two of these? (four if you count the symbol screen)

<img width="602" alt="screen shot 2017-03-03 at 10 42 26 am" src="https://cloud.githubusercontent.com/assets/5863899/23562088/46fcd4ce-fffe-11e6-8baf-c6470acce715.png">

They both do the same thing: set the visibility of the electron cloud. We could probably get by with only one? The top instance is toggled in conjunction with chan

[2017-03-06 16:52] samreid commented on #107
@jbphet has taken the lead, and I'm taking a consulting role.  Unassigning myself.

[2017-03-06 18:25] jbphet opened #145 "incorporate change for tracking brand into 1.4.0-phetio release"
There is currently an RC under test for the 1.4-phetio branch.  During the developer meeting this week we decided that a recent change to the usage statistics code (yotta) should be incorporated into this release.  The issue with more detail about this, including the SHA that should be cherry picked, can be found here: https://github.com/phetsims/phetcommon/issues/37.

[2017-03-06 18:56] phet-steele opened #146 "Nucleons do not return to center after going from unstable --> stable"
Labeling as "dev:phet-io" since I do not see this bug in any production version.

1. From start, put two protons in the atom (any screen).
2. Check Stable/Unstable.
3. Take a proton out. The remaining proton will not be centered. Can happen with neutrons.

Easily seen with the center mark:
<img width="516" alt="screen shot 2017-03-06 at 11 46 06 am" src="https://cloud.githubusercontent.com/assets/

[2017-03-06 19:48] phet-steele commented on #146
@jbphet, interestingly, this is not fixed after a reset all.

[2017-03-07 23:49] zepumph commented on #107
Hey @jbphet, I have been seeing this error in phet-io aqua tests for a few days now, and I think this is the place it stems from. I saw that you instrumented AccordionBox, now we are getting this error in BAA in this test: http://localhost/aqua/test-server/test-sims.html?ea&audioVolume=0&testBuilt=false&testDuration=10000&fuzzMouse&brand=phet-io&phetioStandalone&testSims=build-an-atom

[code]

Per

[2017-03-07 23:50] jbphet commented on #143
The node was unused - it must have been left over from a previous implementation attempt.  It has been removed.  I'll have this issue tested by QA when we roll the next RC.

[2017-03-08 04:43] samreid commented on #107
I noticed that error too, perhaps @jbphet has made changes in the RC branch that need to be merged back to master?

[2017-03-08 19:21] jbphet commented on #140
In a meeting with Brianna and others today, she expressed a need to be able to monitor the open/closed state of the accordion boxes.  This capability has been implemented in the 1.4.0-phetio release, but that release is not yet fully tested and is therefore not yet a production release.  I've let Brianna know about this and will provide her the production release when it's ready.

[2017-03-08 19:25] jbphet commented on #144
The problem existed because the `ElectronCloudView` type was a scenery node that contained a circle node that was also called `electronCloudNode` in the tandem namespace.  I could have simply renamed the circle node, but decided instead to simplify the code a bit and make `ElectronCloudView` descend directly from `Circle`.  I've tested it myself and it seems to work fine, and it resolves the probl

[2017-03-08 19:39] jbphet commented on #107
Indeed, the error mentioned by @zepumph is due to a commit that has not yet been propagated from the 1.4 branch to master.  I will do so within the next few days (i.e. on my next phetio day), but I want to move all such commits at the same time to avoid any confusion.

[2017-03-09 22:32] zepumph commented on #107
Hey, I hope I didn't just make things difficult, but I just added the tandem in the above commit. It was an error that was blocking tests on the sim for other changes I am making in common code. Let me know if it is a pain and I can revert it before you merge the rest of them to master.

[2017-03-10 18:04] jbphet commented on #145
There was only one commit to phetcommon since the last RC build, so I just updated the dependencies file rather than branch phetcommon and cherry pick the commit.

[2017-03-10 19:32] jbphet opened #147 "pick up change to fix simulation link in wrappers"
The simulation link is broken from the index.html file in v1.4.0-phetiorc.1.  The fix was done in the phet-io repo, details are available here: https://github.com/phetsims/phet-io/issues/1060.  This will need to be rolled into the next RC for the 1.4-phetio branch.

[2017-03-10 19:53] jbphet commented on #147
I got lucky on this - the commit in the phet-io repo that fixed this problem was the one immediately after the SHA that was used in the previous RC, so no branch was required.  Should now be fixed.

[2017-03-10 20:29] jbphet opened #148 "Developer's Guide documentation is out of date for v1.4.0-phetiorc.1"
The developer's guide documentation is missing several types that have been added while instrumenting this simulation, for example `TAccordionBox` and `TSphereBucket`, among several others.  I talked with @zepumph about this, and he informed me that regenerating the document is a semi-manual process at this point.  He and I are going to take the steps necessary to do this for the next RC on the 1.

[2017-03-10 20:55] jbphet commented on #148
Just to be clear, I'm referring to the documentation that is shown when the user clicks on the link shown in the screenshot below:

![phetio-dev-guide](https://cloud.githubusercontent.com/assets/3082831/23812793/42a1e4e6-0599-11e7-95b3-3f7db5775852.PNG)

[2017-03-10 22:31] jbphet commented on #148
Assigning to @zepumph and @phet-steele to verify that documentation looks correct in the RC version, which can be found here: http://www.colorado.edu/physics/phet/dev/html/build-an-atom/1.4.0-phetiorc.2/.

[2017-03-10 22:34] jbphet commented on #145
Assigning to @jonathanolson to verify since no one else seems to know how.  The RC can be found at http://www.colorado.edu/physics/phet/dev/html/build-an-atom/1.4.0-phetiorc.2/.

[2017-03-10 22:34] zepumph commented on #148
It looks like AccordionBox didn't make it into the version you just sent. Looking deeper I see that https://github.com/phetsims/phet-io-website/commit/c5aa6f0925c4f08f46330077ced328c2e0185c27 is the phet-io-website SHA. This is from Feb 23. Perhaps the new cherrypick didn't make it into this rc?

[2017-03-10 23:51] jbphet opened #149 "atom position off in game"
I'm regression testing master after pulling in some things from the 1.4-phetio branch, and saw a problem in the game where the position of an atom was off, see screenshot below.  This should be fixed before next release off of master that includes the game.

![baa-atom-position-off](https://cloud.githubusercontent.com/assets/3082831/23817621/c23c4f12-05b1-11e7-89a7-af59619f795a.PNG)

[2017-03-10 23:53] jbphet commented on #149
Here's another similar case that I ran into:

![baa-atom-position-off-2](https://cloud.githubusercontent.com/assets/3082831/23817652/1509c81e-05b2-11e7-87f6-99eb14fb299f.PNG)

[2017-03-11 00:08] jbphet commented on #138
The code has survived a fair amount of testing since this migration, and I think it's now safe to remove the `preventGetSet` calls and close this issue.

[2017-03-11 00:08] #138 closed

[2017-03-13 17:38] phet-steele commented on #143
Looks removed to me!

[2017-03-13 17:38] #143 closed

[2017-03-13 18:11] phet-steele commented on #144
This works much better @jbphet, thanks!

[2017-03-13 18:11] #144 closed

[2017-03-13 18:12] jonathanolson commented on #145
The brand is included in the Yotta messages.

[2017-03-13 18:12] #145 closed

[2017-03-13 18:21] phet-steele commented on #146
Fixed, thanks.

[2017-03-13 18:21] #146 closed

[2017-03-13 18:22] phet-steele commented on #147
The simulation link now works!

[2017-03-13 18:22] #147 closed

[2017-03-13 19:47] jbphet commented on #148
I must've missed a step in the build process, because I can see that the commit that updated to the needed SHA for phet-io-website (f0e04a497b8b5eabf9b64e12e8617a0764581319) got essentially reverted by the automatic commit for the build (3c431dd88a64e9ea6c5b74ec5fe35d85309afea3).  Dang.  I'll work with @phet-steele to decide whether this warrants a new RC or whether we would feel confident fixing

[2017-03-13 20:18] jbphet commented on #148
Copy of Skype dialog between me and @phet-steele:

[1:54:16 PM] John Blanco: Can I call to discuss BAA phetio RC?
[1:54:40 PM] Steele Dalton: is it about [this GitHub issue]?
[1:55:34 PM] John Blanco: Yes, and I want to make a case for just fixing it when and if we go from RC2 to production, since the dependencies on phet-io-website are quite minor.
[1:56:17 PM] Steele Dalton: I'm in agreement

[2017-03-15 21:48] zepumph commented on #148
Unassigning myself. Let me know if there is more I can do.

[2017-03-17 16:50] jessegreenberg opened #150 "add keyboard navigation"
@zepumph and @jessegreenberg are going to instrument keyboard navigation in build-an-atom, this issue is to track progress and document any issues or questions.

[2017-03-17 16:56] jessegreenberg commented on #150
We started with the ```ExpandCollapseButton```s in the accordion boxes.  But I think it would be more conventional if the accordion boxes behaved more like this:
https://www.w3.org/TR/wai-aria-practices-1.1/examples/accordion/accordion1.html

Focus should surround the accordion box title and button instead of just the button.

[2017-03-22 23:20] jbphet commented on #148
Fixed and verified during production release of v1.4.0-phetio, closing.

[2017-03-22 23:20] #148 closed

[2017-03-23 17:31] jessegreenberg opened #151 "test-server error (phet-io)"
[code]

[2017-03-27 19:07] #151 closed

[2017-03-29 22:48] zepumph commented on #150
@jessegreenberg if you could look at the commits above briefly, they seem pretty safe to me, I just want to make sure since they are common code. Currently we have tab navigation for pretty much all objects but the particles. @jessegreenberg and I are going to work on that further tomorrow.

[2017-03-31 20:26] jessegreenberg commented on #150
@zepumph and I took an initial pass at drag and drop for the nucleons in this sim, here is a version where it can be tried out!

http://www.colorado.edu/physics/phet/dev/html/build-an-atom/1.3.0-keyboard-nav.1/build-an-atom_en.html?ea&accessibility

@emily-phet @terracoda what do you think?

[2017-04-01 05:47] terracoda commented on #150
@jessegreenberg and @zepumph, what browsers are you testing in. I seem to be getting different behaviour in Firefox and Safari. I just want to make sure I am seeing something similar to you :-)

[2017-04-01 06:00] terracoda commented on #150
@jessegreenberg and @zepumph, and I should say it is looking interesting!!

I have a side question about the accordions... Can we nest the buttons in a headings? That with provide some nice structure for non-visual users?

I working on a first pass for the heading outline.

[2017-04-01 19:55] jessegreenberg commented on #150
Thanks @terracoda! Good point, we have only tested in Chrome so far, behavior might be different in other browsers.  I will check it out.

Also, the above link doesn't support grabbing particles in the atom and placing them elsewhere or returning them to the bucket. We wanted to make sure we were headed down the right path before spending more time implementing.

Hmm, I am not sure @terracoda, cou

[2017-04-01 19:59] jessegreenberg commented on #150
Commits look great @zepumph, thanks!

[2017-04-02 03:46] terracoda commented on #150
@jessegreenberg, yes working on structure wireframe in a google doc [BAA PDOM](https://docs.google.com/document/d/1QzdjwByRXAXKAOLpv-3VPUihu_IuTSZ4pmvHFt6mn98/edit#). I am not quite done yet. I can provide proper code after.

[2017-04-03 02:03] terracoda commented on #150
@jessegreenberg and @zepumph, I completed a structural [wireframe for Build an Atom](https://docs.google.com/document/d/1QzdjwByRXAXKAOLpv-3VPUihu_IuTSZ4pmvHFt6mn98/edit#heading=h.ji4iysctctto) which includes all Static Descriptions (headings, labels, and help text). I've asked @emily-phet for feedback.

The doc has two outline examples. If folks prefer example 2 (I think it is better), I'll have

[2017-04-03 02:50] terracoda commented on #150
@jessegreenberg and @zepumph, I am curious to know how closely you have followed the design pattern in comment https://github.com/phetsims/build-an-atom/issues/150#issuecomment-287410837. The W3C example uses a definition list (`DL`, `DT`, `DD`) to house the accordion headings (and buttons) and accordion content. This is nice because the list is grouped and the DT's and DD's have an explicit relat

[2017-04-03 10:09] terracoda commented on #150
Regarding comment https://github.com/phetsims/build-an-atom/issues/150#issuecomment-290943362 and nesting buttons inside headings. Here's what I am thinking, but stripped down:

[code]

[2017-04-03 16:42] jessegreenberg commented on #150
Not too closely @terracoda, and we can certainly use a definition list! We haven't yet because our focus for now was just keyboard navigation.

Regarding https://github.com/phetsims/build-an-atom/issues/150#issuecomment-291101570:

That looks good @terracoda, we can do that.

[2017-04-04 05:38] terracoda commented on #150
@jessegreenberg, a definition list would be similar, but has a natural built-in grouping. The `dl`'s terms (Element, Net Charge and Mass Number) are somewhat defined by their associated values, and also define the Atom. It may be a useful design pattern both structurally and pedagogically.

[code]

[2017-04-04 05:42] terracoda commented on #150
@jessegreenberg, in case I was not clear, I think it is worth trying a definition list. I'll add a note in the design doc.

Would it be useful for you and @zepumph for me to create a stripped down example PDOM with real html (but no javascript)?

[2017-04-04 12:06] terracoda commented on #150
@jessegreenberg, @zepumph the Grab particle buttons and Drop location Listbox work nicely from my perspective . I only did formal testing in Chrome with ChromeVox. There were differences in Firefox and Safari, but I have not documented that.

My notes are in the [same google doc](https://docs.google.com/document/d/12pA8dV5pK0oYCmUyxPbYEj-xppV6K8PPiJugAGtjF8c/edit#heading=h.ovtkt4d75f04) that has @

[2017-04-04 17:23] jessegreenberg commented on #150
Thanks @terracoda! We will take a look at the bugs mentioned in todays meeting, and work on getting it platform consistent.

[2017-04-04 17:36] jessegreenberg commented on #150
@emily-phet @zepumph @terracoda @oliver-phet @ariel-phet @arouinfar @amyh-phet @amanda-phet here are some notes from the meeting today.  Please feel free to modify or add if anything is missing or incorrect:

- We will animate nucleons to their dragging destination while they are being dragged so that it is easier to see where they are going, and where they will be placed.

- Add a small offset to

[2017-04-04 17:54] terracoda commented on #150
@jessegreenberg, these are great notes. I also took notes in the google doc that @emily-phet shared.

[2017-04-04 18:02] zepumph commented on #150
I think that this is easy enough to do, so we should try it out and see what people think for next week's meeting.

[2017-04-04 19:19] jessegreenberg commented on #150
@emily-phet was curious if the user needs the ability to move an electron to a specific spot in an electron orbital.  Content wise, it is important to be able to place a particle in a particular spot in the orbit.

[2017-04-04 20:48] phet-steele opened #152 "BucketFront, Error: Assertion failed: Tandem was required but not supplied"
[code]

[2017-04-05 08:56] terracoda commented on #150
@emily-phet @zepumph @terracoda @oliver-phet @ariel-phet @arouinfar @amyh-phet @amanda-phet
Regarding grouping things in the PDOM. I think we need to have a good reason to group things - reasons that align with the visual design and the learning goals.

Grouping things in the PDOM can have impacts on how keyboard navigation works, how outlines are created by AT. It also impacts how objects are lab

[2017-04-06 17:06] jessegreenberg commented on #150
That is fine with me @terracoda, we will not group the buckets for now.

[2017-04-06 17:14] emily-phet commented on #150
@terracoda I completely agree here. It might be helpful for us (going forward) to be more explicit when we're mapping to a specific interaction structure - e.g., mapping a sim scenario to a more common website interaction. We can talk more about this later.

[2017-04-06 23:18] zepumph commented on #150
On escape and tab, the particle will go back to the bucket, but it is difficult to animate that. Or at least I was having trouble with it. Perhaps there is something I'm not thinking of, but the reason is that all animation is done by setting the userControlledProperty to false, but we don't want to do that because it will just go into the model.

[2017-04-06 23:22] zepumph commented on #150
For example, changing ElectronShellView:222 ish to:

[code]
Yields some pretty weird results. I haven't had time to investigate yet.

[2017-04-11 04:29] jessegreenberg commented on #150
@zepumph, it looks like your commit in https://github.com/phetsims/shred/commit/f9e68ab2e32ec8a3906298e19e54bc8a575fac7a should handle animating particles back into the bucket nicely, SphereBucket.addParticleFirstOpen takes a second param that lets you animate.

[2017-04-11 16:24] jessegreenberg commented on #150
Feedback from 4/11/17 meeting:

- [ ] electron placement highlights along the shells should be rectangular
- [ ] circle focus for the nucleus should be a bit smaller, and shouldn't cover up the element name
- [ ] animation of the particles with the keyboard could be a bit faster
- [ ] When selecting a particle location quickly, it should move to the drop target location, not where the particle wou

[2017-04-11 16:26] oliver-phet commented on #150
Also - if you have a particle selected and hovering a drop area, if you click to a different screen the particle remains in an odd state. I think switching screens should trigger escape behavior.

[2017-04-11 17:23] terracoda commented on #150
Also regarding groupings in https://github.com/phetsims/build-an-atom/issues/150#issuecomment-291797772, I added section 7 to the [Keyboard Navigation](https://docs.google.com/document/d/1RSSyXTqVYAoYuNnZPP27CHWNlJEwdIPYGiXMYY71fSU/edit#heading=h.xu8h187mdd0f) google document.

[2017-04-11 17:47] terracoda commented on #150
@emily-phet, could you summarize in a short paragraph what kind of design documentation you are after? My pencil scratches are a little vague.

[2017-04-11 17:49] terracoda commented on #150
@emily-phet, sorry maybe we should start a new issue in the a11y-research repo for this topic?

[2017-04-11 19:35] zepumph opened #153 "Cannot register two instances of the same id"
[code]

[2017-04-11 19:40] zepumph commented on #152
Thanks @phet-steele. Closing

[2017-04-11 19:40] #152 closed

[2017-04-17 15:42] zepumph commented on #150
these are the last shas working on a single node changing focus highlight.
shred: 1f75a91154e8bddfc743c6e9aa25ba11ed393716
build-an-atom:  8917ae0e0bbfac889a5626c408cc4d381c83206a

[2017-04-18 17:10] jessegreenberg commented on #150
Feedback from the meeting:

- [ ]  Add an offset to the particle when selecting a particle location within a shell so that it is still obvious that you are placing the particle.
- [ ] Replace emtpy squares with solid squares for electron highlighting
- [ ] Work on escape/tab logic so that particles are placed correctly in bucket on blur

[2017-04-18 17:24] terracoda commented on #150
@jessegreenberg, I suggest much smaller squares, almost like notches. With the addition of the pink focus highlight outlining the notch, the notch becomes bigger, making it standout visually from a non-focused spot.

[2017-04-18 17:32] jessegreenberg commented on #150
Thanks @terracoda sounds good, I updated the list.

[2017-04-21 16:47] samreid opened #154 "branch: legends-of-learning"
to support https://github.com/phetsims/special-ops/issues/70

[2017-04-24 16:25] samreid opened #155 "Should electrons have a "-" in them?"
I noticed a discrepancy between how we render electrons and thought I would bring it up for discussion.  Build an Atom looks great in my opinion and might not be improved by adding "-" to the electrons (especially since there is a prominent label) but I thought I'd bring it up to make sure it was a conscious decision.

John Travoltage:
![image](https://cloud.githubusercontent.com/assets/679486/253

[2017-04-24 18:28] ariel-phet commented on #155
@samreid yes, definitely a conscious decision. In this particular sim, learning that the different particles have a particular charge is an explicit learning goal, so it would be "revealing" a bit too much to label them. Also I believe that would fall outside the bounds of normal chem representations.

[2017-04-24 18:28] #155 closed

[2017-04-25 15:23] zepumph commented on #150
One thought. Is it confusing that outer shells have another selection step, but the nucleus doesn't?

[2017-04-25 15:54] terracoda commented on #150
@zepumph, there is no sub-navigation steps on the nucleus, so I would hope not.

[2017-04-25 16:16] zepumph commented on #150
From 4/25 keyboard nav meeting:
- [ ] Electron won't be placed into the outer shell's 2'oclock position.

[2017-04-25 23:12] zepumph commented on #150
I tried to see about the escape bug. Not sure still why you can't select the particle again after it has gone back to the bucket.Here is a work in progress to refactor some logic out of the keydown event.

[code]

[2017-05-02 16:10] zepumph commented on #150
5/2 keyboard nav meeting:

- [ ] Reset all button isn't reseting the size of the inner focus highlight (it stays big)
- [ ] Particles that are being placed should be above (z layer) the Focus highlight (especially for the nucleus.

[2017-05-02 20:09] terracoda commented on #150
@jessegreenberg and @zepumph, is it the intention that once a grabbed particle is dropped that another one automatically animates out of the bucket, without the user actively hitting spacebar on the particle bucket?

[2017-05-02 20:26] jessegreenberg commented on #150
@terracoda I don't think so, is that a bug that is happening sometimes?  I can't get that to happen on Chrome.

[2017-05-02 21:14] zepumph commented on #150
I am getting some of that weird selecting logic when I press the spacebar for a long time, or just hold it down in certain cases. @jessegreenberg, we should look into some of these more complicated bugs together soon. Thanks @terracoda.

[2017-05-03 03:04] terracoda commented on #150
@jessegreenberg and @zepumph sorry I was using either Firefox or Safari, likely Firefox. I will re-test and explain better post more details. It's a bug :-)

[2017-05-03 03:06] terracoda commented on #150
@jessegreenberg and @zepumph having the rings of the atom in the focus order currently will help me work out the interaction visually. The rings won't be in the tab order once we get this sorted out, but it's very useful right now.

[2017-05-03 06:29] terracoda commented on #150
@jessegreenberg and @zepumph, the behaviour where a new particle is pulled from the bucket upon dropping a grabbed particle in a region (https://github.com/phetsims/build-an-atom/issues/150#issuecomment-298746659) only happens in Firefox. I'm using Firefox 53, MacOS Sierra 10.12.3.

The interaction seems fine in Safari.

[2017-05-04 20:26] samreid opened #156 "Instrument the game screen for PhET-iO"
See also #107 and https://github.com/phetsims/chipper/issues/567#issuecomment-299284547

@kathy-phet said:

The game screen is mostly instrumented using the traditional approach, but part of this process will be checking to make sure that things work as desired and to see if there are new features required for this support.  Having @jbphet involved in this step would be great since he has the most

[2017-05-05 21:10] zepumph commented on #150
I worked on the tab/ escape problem a bit more today:

[code]

[2017-05-05 23:49] zepumph commented on #150
I got a lot done with @jessegreenberg this afternoon. We got stumped on the above escape/tab logic. Not really sure how to proceed, but otherwise there are just a few more things on our list right now (except for removing particles)

- [ ] The X disappears for weird reasons, not sure what the logic is
- [ ] Tab/escape logic when repopulating the sphere buckets again.

[2017-05-08 15:56] zepumph opened #157 "PhET-iO Fuzz Testing: Must be a documentation string"
build-an-atom
Uncaught Error: Assertion failed: There must be a documentation string for each Wrapper Type.
Error: Assertion failed: There must be a documentation string for each Wrapper Type.
    at window.assertions.assertFunction (http://localhost/assert/js/assert.js:21:13)
    at Object.addInstance (http://localhost/phet-io/js/phetio.js?bust=1494258529140:388:17)
    at Object.addInstance (htt

[2017-05-08 16:02] zepumph commented on #150
@jessegreenberg I just found a large problem with the most recent implementation of layering. Since we are adding focusHighlights as children, they are showing up in the sim (visible) when accessibility is not actively accessible enabled (&accessibility).

[2017-05-08 16:03] zepumph commented on #157
I just needed to merge master into my branch, closing.

[2017-05-08 16:03] #157 closed

[2017-05-08 16:31] emily-phet commented on #150
@zepumph @jessegreenberg We're not having the keyboard navigation meeting this week, but if it would be helpful to get some interim feedback, or help with some of the issues you're running in to, let me know. I can take a look.

[2017-05-08 16:57] zepumph commented on #150
For me, I think most of the difficulties we are running into are implementational rather than design focused, but thank you! We will keep you posted if feedback would be helpful.

[2017-05-09 17:29] ariel-phet commented on #156
@samreid @jbphet I think priority should wait until expression exchange is published (or at least in the RC process)

[2017-05-12 21:50] zepumph commented on #156
@jbphet I'm happy to be a part of this as well if needed, just let me know. I'm always excited for some uncharted terrain!!!

[2017-05-17 21:17] terracoda commented on #150
@zepumph, I worked on the [PDOM document](https://docs.google.com/document/d/1QzdjwByRXAXKAOLpv-3VPUihu_IuTSZ4pmvHFt6mn98/edit) for Build an Atom today. Do you think it would be useful to start separate issue that focus on general structure? I've made some initial choices, but would like to see what people think.

[2017-05-17 21:19] terracoda commented on #150
@zepumph, actually I am just going to start a new issue, even though structure is related keyboard navigation. I think it warrants a new issue.

[2017-05-17 21:23] terracoda opened #158 "Discuss and determine initial PDOM structure"
Initial wireframe structure for the Build an Atom Parallel DOM has been laid out in a google design document, [BAA: PDOM](https://docs.google.com/document/d/1QzdjwByRXAXKAOLpv-3VPUihu_IuTSZ4pmvHFt6mn98/edit).

We can discuss structure questions in this issue.

My first question for @zepumph and @jessegreenberg is this document making any sense to you both?

[2017-05-18 22:07] jessegreenberg commented on #158
This is looking great to me @terracoda, nice work!

[2017-05-19 00:01] terracoda commented on #158
@jessegreenberg thanks! It combines some description with the structure. I'm not 100% sure about the structure for the atom (nest list), but the rest I think is in good shape.

[2017-05-25 16:05] phet-steele opened #159 "Build the phetiorc without the game screen"
@jbphet, the game screen has not been instrumented. Shouldn't have http://www.colorado.edu/physics/phet/dev/html/build-an-atom/1.4.0-phetiorc.1/wrappers/index/ been built with that screen hidden? For phetsims/tasks/issues/847.

[2017-05-25 21:22] EthanWJohnson opened #160 "buildAnAtom.homeScreen.activeProperty: TProperty not toggling"
Judging by the other active properties (such as **buildAnAtom.symbolScreen.activeProperty: TProperty**) which toggle to true when the appropriate screen is active, **buildAnAtom.homeScreen.activeProperty: TProperty** doesn't toggle true OR false when the home screen is entered or left. I imagine it should be toggling based on whether the home screen is on.

Related to https://github.com/phetsims/t

[2017-05-26 21:01] phet-steele commented on #160
@EthanWJohnson is this in Instance Proxies? I see it toggle correctly in the Events: colorized wrapper.

[2017-05-26 21:02] phet-steele commented on #160
Nevermind, confusing it with `buildAnAtom.sim.showHomeScreenProperty`.

[2017-05-26 21:03] EthanWJohnson commented on #160
Yeah, its not toggling in either.

[2017-05-28 03:27] samreid opened #161 "Game timer does not run off of joist time"
While working on https://github.com/phetsims/joist/issues/423 I found that pausing the sim using Sim.activeProperty does not pause the game timer.  This is because the game timer is implemented like so:

[code]

This will have problems for PhET-iO and Legends of Learning (non-PhET-iO).  One solution may be to switch to phet-core Timer, but perhaps the best solution would be to pass through dt valu

[2017-05-28 03:31] samreid opened #162 "Publish a Legends of Learning Prototype"
As part of https://github.com/phetsims/joist/issues/423 I am building a Legends of Learning prototype of Build an Atom.  I want to use safe SHAs to limit the amount of necessary testing for the QA step.  The latest published version is 1.2.5.  However, the 1.2 branch dependencies.json says 1.2.3.  @jbphet can you please help me understand this discrepancy?

[2017-05-28 03:33] samreid commented on #162
I'm not seeing 1.2.5 mentioned in this repo or tasks repo issues.  But its shas do differ from 1.2.3.  I guess I should use 1.2.5 shas?

[2017-05-28 03:37] samreid commented on #162
My apologies! I was out of date in the branch.  It looks like this bumped to 1.2.5 in a maintenance release with this commit message:
Bumping version to 1.2.5 for phetsims/phet-android-app#16,https://github.com/phetsims/phetcommon/issues/37,https://github.com/phetsims/vibe/issues/30,https://github.com/phetsims/tasks/issues/818

[2017-05-28 03:39] samreid commented on #162
The shas to cherry pick are: https://github.com/phetsims/chipper/commit/1cb1805c9c05467f3ea2cbe1657b2f2b3deb0e8a

and
https://github.com/phetsims/joist/commit/bb8957a9a6395aed86750051afc69521d6075def

So I guess I'll need branches for these.

[2017-05-28 03:43] samreid commented on #162
It looks like Build an Atom chipper predates query string machine, so that won't work as a cherry-pick.

Also, Sim is not using Emitters, so this cherry pick won't work either.

Main choices from here:
(1) build custom "legacy" patches for this sim and possibly others
(2) fully retest build an atom

Tagging @ariel-phet and @kathy-phet so they are aware what's happening here.

[2017-05-29 01:22] samreid commented on #162
I pushed a custom patch in the above commit.  @jessegreenberg can you please review the change?

[2017-05-29 01:35] samreid commented on #162
I made this change in the maintenance branch, but not sure if that's the best spot--I'm concerned this would leak into production if another maintenance release is done.

I published an RC here:
http://www.colorado.edu/physics/phet/dev/html/build-an-atom/1.2.6-rc.1/build-an-atom_en.html?legendsOfLearning

It tests OK in the harness in Chrome.

@kathy-phet and @ariel-phet it would be good to get yo

[2017-05-30 15:15] ariel-phet commented on #162
@samreid I am not concerned about "RC" showing up in the about dialog, since almost no user will look there, and even fewer will no what RC means

However, if we are going to be regularly publishing to legends of learning, this code should be in production and well tested (since maintenance releases are sure to occur, as they happen regularly). If we are going to make this code standard it should

[2017-05-31 19:48] jbphet commented on #161
I went ahead and moved the advancement of the timer into the step function.  I've tested it out, and it appears to work well and is consistent with the operation of the currently published version.

I also tested it in the "instance proxies" wrapper to verify that that game clock now stops when `buildAnAtom.sim.activeProperty` is set to false, and it does.

@samreid - please review and close if it

[2017-06-01 01:29] samreid commented on #162
@ariel-phet @kathy-phet and I should discuss this on Thursday

[2017-06-01 17:19] samreid commented on #162
Also @jbphet addressed #161 so if we cherry-pick that fix we could get the timer to pause on the game screen.  Not sure if that is important for first prototype in their platform.

[2017-06-01 17:36] samreid commented on #162
@kathy-phet recommends @phet-steele test on the legends of learning harness.  @kathy-phet says not a big deal to get the game timer into this release.

[2017-06-01 17:38] samreid commented on #162
@kathy-phet says we would want them using a production version from our site.  So we will do QA on an RC then move to production.

[2017-06-01 17:42] samreid commented on #162
@kathy-phet says after this is good to go, we will want to start making maintenance release of this code for all science sims.  @samreid will get help from @zepumph and @Denz1994 or others to do the maintenance releases.  Could be an hour or so per sim.  @kathy-phet will prioritize the sims (focusing on science and k-12).

[2017-06-02 16:31] phet-steele commented on #159
Thanks! No need to be open anymore.

[2017-06-02 16:31] #159 closed

[2017-06-02 17:28] samreid commented on #162
@jessegreenberg and I tried to cherry pick the change but the branches diverged too much so it couldn't auto-cherry-pick.  We ended up applying the same changes manually.  It seemed OK in testing.

[2017-06-02 17:46] samreid commented on #162
New RC is here:
http://www.colorado.edu/physics/phet/dev/html/build-an-atom/1.2.6-rc.2/build-an-atom_en.html?legendsOfLearning

I'll create a tasks issue for testing it.

[2017-06-02 18:34] EthanWJohnson commented on #160
Noting that homeScreen.active still doesn't toggle in 1.4.0-phetiorc.2, for https://github.com/phetsims/tasks/issues/850

[2017-06-02 18:53] phet-steele opened #163 "The recent 1.4.0-phetio should be 1.5.0-phetio"
The recently created test tasks, phetsims/tasks/issues/850 and phetsims/tasks/issues/847, should have been made from a 1.5-phetio branch. 1.4.0 was already delivered months ago: https://phet-io.colorado.edu/sims/build-an-atom/1.4.0-phetio/wrappers/index/.

Tagging @jbphet.

[2017-06-02 18:56] phet-steele opened #164 "Bucket label instances are named oddly"
Here is an example for the Protons bucket on the first screen. Note that no useful information is presented in the instance name, like screen or bucket the label belongs to:
<img width="367" alt="screen shot 2017-06-02 at 12 14 47 pm" src="https://cloud.githubusercontent.com/assets/5863899/26740406/a9c9621c-4792-11e7-9ac9-d312c7e4d472.png">

The same instance from a previous version https://phet-i

[2017-06-08 22:10] zepumph commented on #163
Oops, not sure how that happened. Sorry about that.
I turned the current RC shas into a branch called 1.5-phetio. The next release will be 1.5.0-phetiorc.1, let me know if that makes less sense than another option.

I updated the 1.4-phetio dependencies to reflect the latest 1.4-phetio release: https://phet-io.colorado.edu/sims/build-an-atom/1.4.1-phetio/dependencies.json in case for maintenance r

[2017-06-08 22:39] zepumph commented on #164
I found the cause I think:

[code]

This tandemRequired() call is never being overridden for default label nodes, I need to pull this labelNode out of the options.

[2017-06-08 22:47] zepumph commented on #164
Alright I updated these lines and there are no more cases of 'required' in instance proxies. I will cherry pick into branches later.

[2017-06-08 23:48] zepumph commented on #160
This is fixed in master now. I will pull it into the branch later.

[2017-06-10 22:40] zepumph commented on #163
We published 1.5.0-rc.1 as the third rc. Closing

[2017-06-10 22:40] #163 closed

[2017-06-12 16:43] phet-steele commented on #164
Looks good to me, thanks.

[2017-06-12 16:43] #164 closed

[2017-06-12 16:46] phet-steele commented on #160
Looks fixed, thanks.

[2017-06-12 16:46] #160 closed

[2017-06-12 20:57] samreid commented on #162
One problem was discovered during RC testing:
https://github.com/phetsims/scenery/issues/619

@jonathanolson and I solved it by adding interrupt methods to input listeners.  However, neither of the commits is cherry-pickable for the build an atom SHAs.

[2017-06-12 21:10] samreid commented on #162
@jessegreenberg are you available to create a new Build an Atom RC that uses the same SHAs as http://www.colorado.edu/physics/phet/dev/html/build-an-atom/1.2.6-rc.2/build-an-atom_en.html?legendsOfLearning with the two new commits (probably manually patched in) from scenery and joist in https://github.com/phetsims/scenery/issues/619 ?

[2017-06-12 21:44] zepumph opened #165 "Publish 1.5.0-phetio"

[2017-06-12 22:19] jessegreenberg commented on #162
@samreid sure, I will prepare the next RC today.

[2017-06-12 22:20] samreid commented on #162
Thanks and good luck!  Let me know how tricky it is to patch in those commits, we may be doing it for 11 more legacy joist and scenery shas.

[2017-06-12 22:43] zepumph commented on #165
https://phet-io.colorado.edu/sims/build-an-atom/1.5.2-phetio/wrappers/index/

@jbphet let me know if you run into problems

[2017-06-12 22:43] #165 closed

[2017-06-13 19:28] jessegreenberg commented on #162
Merging was pretty easy, all things considered. There were merge conflicts in Sim.js and SimpleDragHandler, but they were not too difficult to work through (things like renaming to ```self``` and such).  Node.js was missing implementations for interruptInput and interruptSubtreeInput, I had to include those, but that was straight forward.

However, I am seeing similary bugs in the legends of learn

[2017-06-13 19:31] jessegreenberg commented on #162
Not sure if this is a sim specific bug or a problem with changes in https://github.com/phetsims/scenery/issues/619.  This never happens when changing screens, only when using Legends of Learning pause feature.

[2017-06-13 19:35] jessegreenberg commented on #162
In the image https://github.com/phetsims/build-an-atom/issues/162#issuecomment-308222785, pressing pause and then resume again makes the particles return to their correct places.

[2017-06-13 20:34] jonathanolson commented on #162
How old are the SHAs that need to be patched for this? It may require other Scenery changes if it's been any appreciable amount of time.

[2017-06-13 21:41] jessegreenberg commented on #162
It looks like 1.2.0 was build on April 22, 2016.  But the bug described in https://github.com/phetsims/build-an-atom/issues/162#issuecomment-308222785 is happening for master as well.

[2017-06-14 02:15] samreid commented on #162
I tested master with 1 particle, 2 particles and 3 particles on iPad3 and didn't see the problem in https://github.com/phetsims/build-an-atom/issues/162#issuecomment-308222785

I'll try the branches.

[2017-06-14 02:21] samreid commented on #162
After checking out build-an-atom 1.2 and running grunt checkout-shas I cannot get the requirejs version of the sim to run on the harness on the iPad3.  Runs fine on the desktop, but I cannot test the touch problem.  I also did not see a published RC--is that correct?

[2017-06-14 02:32] samreid commented on #162
Tethered I saw problems like these:
![image](https://user-images.githubusercontent.com/679486/27112985-5850147e-5077-11e7-9732-650fe9998c57.png)

Perhaps I need an older chipper?

[2017-06-14 02:34] samreid commented on #162
Killing iPad3 safari and changing the question seems to have helped.  Perhaps it was caching something bad.

[2017-06-14 02:38] samreid commented on #162
Testing on the branches on iPad3 as described in https://github.com/phetsims/build-an-atom/issues/162#issuecomment-308222785

About half the time either the proton or neutron or both get stuck in the air.  But they seem draggable after reset all (that is different than when we first began).  May be time to get @jbphet + @jonathanolson help on this?

[2017-06-14 07:01] jonathanolson commented on #162
Properly cherry-picking commits from Scenery to a branch 300+ commits old (and whatever Joist is) sounds risky.

It looks like things like the ES5 getter for inputListeners was handled, but I haven't exhaustively checked for where things are going wrong.

Also https://github.com/phetsims/scenery/commit/36aa205e3f85c86aa3ced7c813133c54611ddc73 has a typo checking `hanlder.dragging`.

Porting to eac

[2017-06-14 14:19] samreid commented on #162
Tagging @ariel-phet and @kathy-phet so they are aware of the issue and the possibility of deploying out of master instead of maintenance branches.

[2017-06-14 14:19] samreid commented on #162
Also tagged for developer meeting in case we forget to talk about this at status meeting.

[2017-06-14 14:28] kathy-phet commented on #162
Sam,
I thought I saw that Jesse had trouble with this bug still being present even out of master?

I tend to agree with JO here. Would this fix pick up the input focus issues in general that jo has been improving?

It would be nice to test this one reasonably soon, as other priorities wane.
Kathy

Sent from my iPhone

On Jun 14, 2017, at 8:20 AM, Sam Reid <notifications@github.com<mailto:notificat

[2017-06-14 15:20] jessegreenberg commented on #162
Right, I noticed the problem before building an RC.

Indeed, sorry, but was noticed and fixed in f9dc3cc5ee44a6ee7ec78d09a40a7d3577e9620e before this checking.

Yes, this is happening in Windows 10 Chrome out of master, but also the release branch.

[2017-06-14 15:20] jbphet commented on #162
I can hop in if needed, but if deploying from master fixes the issue(s), then +1 on that thought.

[2017-06-14 15:33] kathy-phet commented on #162
@samreid - For the purposes of testing the LoL approach, if it is simpler to pick one of the other sims that LoL identified as a match that is also built on more recent Shas -- e.g. Unit Rates -- that could be a possibility for an alternative basic test with LoL while this particular bug is worked out for BAA.

[2017-06-14 15:47] jonathanolson commented on #162
I'll be available soon to investigate what is still happening in master.

[2017-06-14 17:13] samreid commented on #162
I tested master on iPad3 5 times and saw the problem 0/5 times.  Is it possible that @jessegreenberg master tests had a cached version?  Sometimes iframes cache themselves more eagerly than top-level pages.

[2017-06-14 17:41] jessegreenberg commented on #162
I don't think so, tested again in a private browsing window, and the following image shows a "stuck" neutron above the about dialog with 1.3.0-dev.1 as the version, dependencies have master checked out.
![save3](https://user-images.githubusercontent.com/6396244/27146320-3201813e-50f6-11e7-9ecb-6382d1824a99.PNG)

[2017-06-14 17:44] jessegreenberg commented on #162
This is starting to feel more like a sim bug, maybe something isn't getting reset when the input is interrupted.  I hit the problem again by

- Pressing "Pause in 5 seconds" in the LoL test harness
- dragging a neutron up and to the right of the atom
- press resume once it is paused
- Wait for neutron to go back to bucket
- Drag same neutron to about the same place and release.
- Observe that the

[2017-06-14 17:48] jessegreenberg commented on #162
Running through the steps in https://github.com/phetsims/build-an-atom/issues/162#issuecomment-308506610, observed the behavior 2/5 times.

[2017-06-14 18:02] jonathanolson commented on #162
Is it possible to add something like a console.log to inside SimpleDragHandler's interrupt (inside the dragging check), to see if endDrag is getting called? I'm curious whether the buggy behavior is preventing that from getting interrupted, or if it's after the interruption happens.

[2017-06-14 23:23] jessegreenberg commented on #162
Yes, I added a console statement on line 192 of SimpleDragHandler, it is well after the interruption happens.  I hit the bug on my second attempt by following these steps:

- Press "Pause in 5 secodns"
- Drag neutron, wait until paused (see "interrupted"  in the console)
- Resume
- Drag neutron, let it fall back to bucket
- Drag neutron, observe that it gets stuck

[2017-06-14 23:25] jessegreenberg commented on #162
Ah, if I press "Pause" after the steps in https://github.com/phetsims/build-an-atom/issues/162#issuecomment-308585727, I see "interrupted" again in the console, so this.dragging is still true on the stuck particle.

[2017-06-15 00:33] samreid commented on #162
I tried several more times but am still unable to reproduce this problem on master.  I'm on iPad3.

[2017-06-15 15:15] jessegreenberg commented on #162
Following the steps in https://github.com/phetsims/build-an-atom/issues/162#issuecomment-308585727, I was able to see this 4/10 times on master on an iPad2 air (PhET device Pauling). Sometimes you have to drag it more than twice after resuming for it to get stuck.

[2017-06-15 18:41] samreid commented on #162
@jonathanolson and @jbphet will look into this by tomorrow, possibly with help from @jessegreenberg

[2017-06-15 19:23] jessegreenberg commented on #162
It sounds like we all agree that maintenance releases and patching is too risky for these releases because the SHAs are too old.

[2017-06-21 20:03] pixelzoom commented on #162
@samreid This issues is labeled for developer meeting. Can you summarize what feedback you're looking for?

[2017-06-21 20:05] samreid commented on #162
From the last meeting:

It would be good to get a status update whether in issue comments or in developer meeting.  I'll leave it marked for developer meeting in case it doesn't get discussed elsewhere.

[2017-06-21 20:32] jessegreenberg commented on #162
On 6/15/20, @jbphet, @jonathanolson and I followed the steps listed in https://github.com/phetsims/build-an-atom/issues/162#issuecomment-308585727 on @jbphet's machine on master and observed the particles getting stuck after a couple attempts.

[2017-06-22 09:15] jgpATs2w opened #166 "new element symbols"
Please see phetsims/shred#22

[2017-06-22 16:16] jessegreenberg commented on #162
Also, I don't see it linked in this issue, here is the scenery issue where this is being investigated: https://github.com/phetsims/scenery/issues/619

[2017-06-23 22:08] jonathanolson opened #167 "Unused resources in phet-io"
On 1.5-phetio branch, I got these warnings:

[code]

[2017-06-26 15:48] terracoda commented on #158
@jessegreenberg, @zepumph, @emily-phet  I am closing this issue, as I have mocked up the HTML and committed the code to the a11y-research repo for discussion.

I created a new issue (https://github.com/phetsims/a11y-research/issues/43) in that repo to discuss the structure. The design document will be updated to reflect changes to the PDOM.

[2017-06-26 15:48] #158 closed

[2017-06-29 13:59] terracoda opened #244 "Explore Interaction Pattern for Listboxes and Action Toolbar in Build an Atom"
Here's a possible interaction pattern playing with particles in My Atom's regions. The three regions and the particle buckets are marked up as 4 listboxes (see current Parallel Dom for the HTML being discussed in issue phetsims/a11y-research#43).

The  user would use available action buttons for taking actions on selected listbox items (e.g., grab, select positions in regions, move within a region

[2017-07-06 18:04] jessegreenberg commented on #162
It sounds like @jonathanolson is confident in the fix for #phetsims/scenery#619.  I will create an issue in QA to verify that things are looking good before proceeding with the next RC.

[2017-07-06 20:17] jbphet opened #168 "add drag bounds for particles"
A request has come up from the sonification effort to add drag bounds for the particles.  This way, sonic feedback can be provided if the user attempts to drag the particles too far.  This seems like a good idea in general anyway in order to make the behavior more consistent with other simulations.

[2017-07-07 15:39] jbphet commented on #168
Implemented on master and propagated to the 1.5-phetio branch where it was needed, deployed in v1.5.5-phetio.  Closing.

[2017-07-07 15:39] #168 closed

[2017-07-12 22:29] samreid commented on #162
If I'm reading it correctly, the solution is working well on all platforms except Edge, which we decided is OK for now.  So it seems the next step is to publish a Legends of Learning prototype--will this need another QA cycle?  Or is there some safe SHA we should start with?

[2017-07-13 16:44] jessegreenberg commented on #162
Verification for https://github.com/phetsims/scenery/issues/619 was done without a built version, I don't think there are safe SHAs to grab.  When ready I think this will require a new RC task.

[2017-07-13 17:51] samreid commented on #162
We agreed @jessegreenberg would build an RC this week.

[2017-07-15 20:37] kathy-phet commented on #162
@jessegreenberg - Just FYI ... Josh emailed today was asking if this had been solved. Hopefully the RC testing will go well!

[2017-07-17 17:04] jessegreenberg commented on #162
Sounds good @kathy-phet, RC test was prepared in the above issue.

[2017-07-17 20:58] phet-steele commented on #149
@jessegreenberg @jbphet this did not get fixed before the release of 1.6.0-rc.1. JB decided Jesse should fix it.

[2017-07-17 20:59] jessegreenberg commented on #149
Thanks @phet-steele, shutting down the RC until this is added.

[2017-07-18 17:38] jessegreenberg commented on #149
Layout fixed in the above commit, layout was changed so that it looks like the published version.

[2017-07-18 17:43] jessegreenberg commented on #161
This is working great in the legends of learning test harness, and I also verified that the timer is working in the instance-proxies wrapper.  Thanks @jbphet, closing.

[2017-07-18 17:43] #161 closed

[2017-07-19 17:33] phet-steele commented on #149
@jessegreenberg, the atoms in every game look to be correctly vertically aligned on the screen, but not horizontally. Between different challenges, you can see an atom jump left and right with respect to each other. Below, the atom for Helium is much more to the left:

<img width="1918" alt="screen shot 2017-07-19 at 11 31 04 am" src="https://user-images.githubusercontent.com/5863899/28380792-db4b

[2017-07-19 17:38] jessegreenberg commented on #149
@phet-steele do you know if the deployed version exhibits any of this atom jumping?

[2017-07-19 17:41] phet-steele commented on #149
It does.

[2017-07-20 17:34] jessegreenberg opened #169 "Picking up particles while they animate back to buckets is broken"
For https://github.com/phetsims/QA/issues/23

[2017-07-20 17:36] jessegreenberg commented on #169
Could be caused by recent scenery changes, but a recent commit also changed the drag handler https://github.com/phetsims/shred/commit/1cb8069c15b3575479ce493ff303c06d4a328b6a

[2017-07-20 17:40] jessegreenberg commented on #169
Prior to that commit, the translate listener looked like

[code]

The new onDrag looks like
[code]

[2017-07-20 17:42] jessegreenberg commented on #169
And if I revert shred to https://github.com/phetsims/shred/commit/55239bb58bd58330f6dedefa662fd8c630b8ed98 the problem goes away.

[2017-07-20 17:50] jessegreenberg commented on #169
@jbphet volunteered to investigate this, thanks!

[2017-07-20 18:42] jbphet commented on #149
IMO, this is still worth fixing even if it appears in the published version unless it is unexpectedly difficult to do so.

[2017-07-20 22:04] jbphet commented on #169
Should be fixed by this commit to shred: https://github.com/phetsims/shred/commit/820bea9729ef5f5e8bd90e0de790ca3d1abf0645

Assigning to @jessegreenberg to pull into the RC that is in progress for this sim.

[2017-07-20 22:54] jessegreenberg commented on #166
We will pull changes for phetsims/shred#22 into release 1.6.

[2017-07-20 23:44] jessegreenberg commented on #149
@jbphet sounds good.

The atom is placed relative to its center, and the stability indicator for a particular AtomNode will change its bounds:
![screen shot 2017-07-20 at 5 36 34 pm](https://user-images.githubusercontent.com/6396244/28443376-dad8afe2-6d72-11e7-8414-559fb4d80e87.png)

If we place the atom according to its left bound, things should align.

[2017-07-21 00:00] jessegreenberg commented on #149
Handled in the above commit.  Seemed to fix it, and I verified that the other AtomNodes in the other game views don't have this problem.

[2017-07-21 00:19] jessegreenberg commented on #169
I updated the shred SHA for the 1.6 release, thanks @jbphet.

[2017-07-21 00:25] jessegreenberg commented on #166
These have been added via phetsims/shred#22.

[2017-07-25 20:26] phet-steele opened #170 "?showPointerAreas overlap on game challenge"
@jessegreenberg, probably been this way for awhile. These pointer areas on the spinners are overlapping (one of the challenge types in the last level of the Game):

<img width="313" alt="screen shot 2017-07-25 at 2 21 38 pm" src="https://user-images.githubusercontent.com/5863899/28592106-3f175230-7145-11e7-980d-9b300cf4d54f.png">

Seen on macOS 10.12.5 Chrome. For phetsims/QA/issues/27.

URL: http

[2017-07-25 20:27] phet-steele commented on #149
I LIKE it!

[2017-07-25 20:27] #149 closed

[2017-07-25 20:28] phet-steele commented on #166
Good to go in rc.3

[2017-07-25 20:28] #166 closed

[2017-07-27 20:10] phet-steele commented on #170
Looks great.

[2017-07-27 20:10] #170 closed

[2017-07-27 23:58] jessegreenberg commented on #169
1.6 was deployed and this issue can be closed.

[2017-07-27 23:58] #169 closed

[2017-07-28 00:07] jessegreenberg commented on #162
1.6 was deployed on 7/27/17.  The next step is to create a square icon with minimum dimensions of (400x400) for this sim to be seen on the Legends of Learning page.

We reached out to Legends of Learning to determine if we need to have the icon completed before publishing the sim to their platform or if we can use a "work in progress" icon for now and update later so we can continue going through

[2017-08-07 15:56] jessegreenberg commented on #162
Legends of Learning made it clear that we can easily update the icon, so we went through the publication steps for Legends of Learning.  We discovered a few issues during the process:
- Legends of Learning currently doesn't allow us to specify query parameters for the submission (required to communicate with the platform and run as a single screen).
- Legends of Learning requires a file in the sub

[2017-08-10 16:24] samreid opened #171 "Update Legends of Learning icons for Build an Atom"
See #162

@amanda-phet delivered the icons to https://drive.google.com/drive/folders/0B6CMwxdP0NGYZkN5WHNXOHRFQTQ

[2017-08-11 23:51] samreid commented on #171
This is on hold until we can submit separate entries for our screens.

[2017-08-13 03:57] samreid commented on #156
I added a wrapper that exercises some PhET-iO api features.  We could still investigate adding buttons and controls that let you choose how many problems and which level type (level type is currently hard-coded).

[2017-08-14 00:27] zepumph commented on #150
Unassigning until we work on BAA again.

[2017-08-15 03:22] samreid commented on #156
I tagged @zepumph because it will probably be good to collaborate on parts of this.

We probably also need to hide the "Start Over" button (if this becomes a real example of how to deal with games).

[2017-08-15 03:24] samreid commented on #156
One thing that may be different for games is that many tandems are random or delayed--this won't cause problems for the data stream but it could make customization and generating documentation tricky.

[2017-08-15 19:32] zepumph commented on #156
Agreed. I feel like this has a potential to be a problem for other places in sims as well, like if there is a default array of dynamic particles that aren't created until you click a button or something.

I think the best way to proceed here is to dive in and see the shortcomings first hand. That will give us a better idea on how to fix them. I think that a poorly documented, but fully instrumente

[2017-08-16 15:49] samreid commented on #156
What we have been doing for PhET-iO is "instrumenting what is easy and seeing what that makes possible."  @pixelzoom recommended the opposite approach of "deciding what behavior we would like to enable, then implementing that." (I am paraphrasing).  @kathy-phet I am presuming that for games we will want to be able to:
1. Collect a data stream
2. Start a single level or single challenge, and see wh

[2017-08-18 15:58] samreid commented on #156
At yesterday's status meeting, @kathy-phet said @arouinfar can schedule a design meeting for this on Thursday August 24.

[2017-08-18 16:04] samreid commented on #156
@arouinfar do you think it will be possible to schedule this meeting for 1pm-2pm Thursday August 24?  More details in slack.

[2017-08-18 16:34] arouinfar commented on #156
Sure thing @samreid. I've set a reminder to schedule Build and Atom PhET-iO discussion for 1-2 at the 8/24 design meeting.

[2017-08-22 18:28] samreid commented on #156
I'm a bit confused between `setAllowedProblemTypesByLevel`, `startGameLevel` and it seems there is an implicit correspondence between level type and level index which would be good to discuss with @jbphet once we start on this.

[2017-08-24 20:03] samreid commented on #156
Here are the requested features from today's meeting: we should try to order these from easy to difficult and try to quantify (1) = less than an hour and straightforward (10) = I'm not even sure that's possible.  We can also quantify the value.  So we'll update/edit this issue.  Then starting next week (when @zepumph is back), @jbphet will dedicate 1/2 day per week to collaborate on this.

Timer b

[2017-08-24 20:08] samreid commented on #156
On second thought, let's leave the preceding comment as "raw notes" then use this next comment to organize everything in a table:

[2017-08-24 20:10] samreid commented on #156
| Feature        | Value           | Complexity  | Complete  |
| ------------- |:-------------:| -----:| -----:|
 | Timer button should be hidable | | | |
 | Sound button should be hidable | | | |
 | Timer on should be settable | | | |
 | Sound on should be settable | | | |
 | Make it possible to show a subset of level types on the choose your game screen. | | | |
 | Choose the type of challenge w

[2017-08-26 22:25] samreid commented on #156
I made this much progress, getting to a good point where it would be good to collaborate with @jbphet:

![image](https://user-images.githubusercontent.com/679486/29745548-16b2b16e-8a7b-11e7-82b2-d7f9206f638b.png)

@jbphet can we set up a time for this week?  My schedule is pretty open 9:30am-2:30pm M,Tu,W,F

[2017-08-28 17:31] jbphet commented on #107
We finished this effort for the first two screens and released the sim, and are tracking instrumentation of the game under a separate issues, see #156.  Closing.

[2017-08-28 17:31] #107 closed

[2017-09-01 20:23] zepumph opened #172 "Review for BAA instrumentation after phetsims/build-an-atom#107 complete"
Carried from https://github.com/phetsims/phet-io/issues/244 into this repo.

@samreid said:

@kathy-phet requested @jbphet to review the BAA instrumentation when it is ready

and then:
Still working on this as part of phetsims/build-an-atom#107

and then @zepumph said:
Review will be carried out organically after phetsims/build-an-atom#107. Adding on hold label again.

[2017-09-05 19:45] jbphet opened #173 "buckets have an odd artifact when large"
I noticed this while working on another issue, tested it on the currently live version of the sim (v1.6.0), and it exists there as wall.  There is a noticeable artifact that sometimes appears at the edges of the bucket, especially when displayed on a large screen.  Here's a screen shot - the artifact appears above the right side of the bucket.

![baa-bucket-tail](https://user-images.githubusercont

[2017-09-05 20:05] jbphet commented on #173
I tried this on all browsers on my Windows machine, which are Chrome, Firefox, MS Edge, and MS IE11.  The artifact is only seen on Chrome.  The version is 60.0.3112.90 (Official Build) (64-bit).

[2017-09-05 20:11] jbphet commented on #173
I tried modifying the elliptical curve that makes up the top of the shape to be a little less than the full 180 degrees, and that seems to have worked.  It now looks like this:

![baa-fixed-bucket](https://user-images.githubusercontent.com/3082831/30081352-1258e4b4-9244-11e7-8cff-a6f3a553a553.PNG)

Closing.

[2017-09-05 20:11] #173 closed

[2017-09-06 17:50] samreid commented on #156
Questions:

1. In assessment mode, what should show when all questions completed?
2. Should data stream show details when new challenge was created?

[2017-09-10 15:07] samreid commented on #156
@jbphet and I have a schedule to work on this, not planning to work on it in the meantime, so unassigning myself.

[2017-09-10 20:39] samreid commented on #156
Do we need save/load state for this screen?

[2017-09-13 16:28] samreid commented on #156
- [ ] The data stream is showing a user event causing another user event:

[code]

We saw this when clicking on a periodic table button.

[2017-09-13 17:58] samreid commented on #156
- [ ] To @kathy-phet and @ariel-phet: What to do for "impossible" atoms that the user tries to create? Like trying to have more than 10 electrons in an atom schematic?

[2017-09-14 19:24] zepumph opened #174 "instrument AtomValuePool?"
Since NumberAtom is `Tandem.tandemRequired()`, `AtomValuePool.js` needs some work.

Another option is to make NumberAtom `tandemOptional()`, I don't know the full scope of the trade offs, so I pass this off to @jbphet to recommend.

Note, build-an-atom is currently broken until this is figured out because of https://github.com/phetsims/tandem/commit/3b161ec8fa2f0d48868958bed3e6839f84163818 from ht

[2017-09-15 15:44] jbphet commented on #174
There is some time scheduled to work on BAA+PhET-iO today - let's discuss and resolve this then.

[2017-09-15 17:19] samreid commented on #156
- [ ] For @kathy-phet and @ariel-phet: is it OK to have things done in query parameters?  Or should it be unified under PhET-iO API calls?

[2017-09-15 17:30] kathy-phet commented on #156
Better to have everything under API calls -- although having some available also as query is fine. I assume Query parameter calls are things that can be leveraged in regular PhET sims?

[2017-09-15 17:47] samreid commented on #156
Yes, query parameters could be leveraged in both PhET and PhET-iO sims.  So during our design process, we should decide what features would be needed in the PhET sims, if any.

[2017-09-15 17:50] zepumph commented on #174
In a phet-io meeting today with @jbphet and @samreid, we decided to make `NumberAtom` `tandemOptional`. I'll take care of it.

[2017-09-15 20:48] zepumph commented on #174
Done and BAA is running now. Closing

[2017-09-15 20:48] #174 closed

[2017-09-15 20:49] zepumph commented on #156
It looks like phet-io fuzzTesting is failing from our work today, I'm not sure what's going on there.

[2017-09-16 21:25] samreid commented on #156
It looks like we neglected to commit the predeterminedChallenges[], I did so in the preceding commit.  Local ?fuzzMouse seems OK.

[2017-09-18 19:02] pixelzoom opened #175 "inconsistent prefix for filenames"
This sim mixes conventions for filename prefix. Some of the files use the "BAA" abbreviation, others use the full name "BuildAnAtom".  The choice of which convention to follow is up to the developer, but it should be applied consistently.

[2017-10-02 18:19] zepumph commented on #156
Notes about game state saving from the session today:

* The state of the BAA game is potentially uncharted territory. Basically we want to ability to set the array of challenges, but then those are static for the lifetime of that level (I think). So they are pretty much static, but with a caveat that we want to be able to set them dynamically on the downstream sim.

* @jbphet, @samreid and I look

[2017-10-03 18:45] zepumph commented on #156
Notes from meeting today about TTypes in general:

* Possibility of putting the TType (and potentially the tandem) onto the instance. This seemed to be an improvement for TArray if we want to support heterogeneous arrays, but we couldn't think of many of uses yet.
* If we do that, and deparameterize all of the TTypes, it may make it impossible to deserialize data from the wrapper. Especially TFunc

[2017-10-03 18:50] kathy-phet commented on #156
What does this mean? Thx for explaining.

[2017-10-03 18:59] samreid commented on #156
For example, TNode has this PhET-iO method:

[code]

When the wrapper calls this method, the TFunctionWrapper arguments of TVoid and [TBoolean] tell phet-io how to interpret data from the wrapper (e.g. that there will be one boolean value in this case).

[2017-10-11 22:43] zepumph commented on #156
This week we added `fromStateObject` onto `TBAAGameChallenge` and tried to get it to create itself in the downstream sim. We were pretty far along that path and then ran into a problem where some of BAAGameChallenge's Properties weren't being disposed, so we need to make sure that the downstream sim is being cleared completely before creating new challenges there.

Possible the above will work, bu

[2017-10-16 22:14] phet-steele opened #176 "Assertion failed: tried to removeListener on something that wasn't a listener"
In levels 2 - 4, try to complete challenges that look like this (a `SchematicToSymbolChallenge`):

<img width="1376" alt="screen shot 2017-10-16 at 4 13 35 pm" src="https://user-images.githubusercontent.com/5863899/31637678-0c577b02-b28d-11e7-8597-95396ac548e3.png">

[code]

[2017-10-16 23:10] zepumph commented on #156
Currently BAA fuzz fails for phet brand but not phet-io because of the above commits:
[code]

[2017-10-16 23:19] zepumph commented on #156
That error will be addressed in https://github.com/phetsims/build-an-atom/issues/176

[2017-10-17 03:06] samreid commented on #176
I'm puzzled, but reordering the derived property disposal changes whether there is an assertion or not.  I also cleaned up DerivedProperty.dispose in https://github.com/phetsims/axon/issues/148

@zepumph can you please take a look around?

[2017-10-17 16:52] jbphet commented on #176
I'll take a look.

[2017-10-17 17:41] jbphet commented on #176
I tried for a bit to investigate this, and I did it by manually reverting the change to the order of disposal of properties in `PropertyAtom.dispose()`.  This didn't cause any problems in operation of the non-phet-io version as far as I could tell with quick testing, nor with the phet-io state wrapper or instance-proxies wrapper.  However, after thinking about it, I suspect none of these invoke th

[2017-10-18 18:35] jbphet commented on #176
@samreid, @zepumph, and I dug into this, and it now makes sense to us why it is necessary to dispose derived properties before their dependencies.  The reason is that if a dependency is disposed before a derived property, the listener function that is linked to the dependency by the derived property (to allow the derived property to update when the dependency changes) will be removed, then when th

[2017-10-18 19:54] zepumph commented on #156
Today we worked on the disposal issues of #176.

We then talked about how our current implementation pattern requires a lot of overhead to implement dispose for all instrumented items. This involved beginning with just one single challenge, and then I went in and implemented dispose for everything that was causing a problem when `addInstance` was called on a phetioID that was already in the instan

[2017-10-18 20:41] zepumph commented on #176
Here is the example that exposed this problem from ParticleAtom.js:

[code]

[2017-10-24 17:18] jbphet commented on #176
This has been fixed - closing.

[2017-10-24 17:18] #176 closed

[2017-10-27 19:53] samreid opened #177 "Maintenance release with LOL patch"
See phetsims/joist#450

We need to publish a maintenance release of this simulation which cherry picks phetsims/joist@63046a6

@jbphet you are listed as responsible dev, please proceed and let me know have questions or need assistance.

[2017-10-29 13:41] samreid commented on #177
Please see also https://github.com/phetsims/joist/issues/449#issuecomment-340263119, we are considering picking up some other commits for this maintenance release.

[2017-11-01 20:11] zepumph commented on #156
Today in BAA meeting with @jbphet and @samreid, we made a good fix to NumberProperty, adding a dispose method so that BAA phet-io fuzz won't fail.

Then we continued to spend a very long time being tired of how many dispose methods we might have to implement. During today's session we found that `SymbolToSchematicChallenge` has its own BuildAnAtomModel (should be named BAAModel.js for convention)

[2017-11-02 03:31] samreid commented on #156
I wonder if we added an `aboutToBeDisposedEmitter`, the model could use it to signify to the view to dispose itself.  Would that sort out the ordering issue?

[2017-11-02 04:12] samreid commented on #171
@arouinfar and @amanda-phet what is the status with respect to LOL?  Can we submit things yet?

[2017-11-02 16:28] amanda-phet commented on #171
The icons were uploaded on August 10th to this folder: https://drive.google.com/drive/folders/0B3v_ZP9Kq36CZ2JUc09iODItbTA

Do you want me to also add them to assets here in GitHub?0

[2017-11-02 16:41] arouinfar commented on #171
All Legends of Learning materials are in the PhET Partnerships > Deliverables > Legends of Learning folder on Drive. KP has shared the[ LoL Simulations](https://docs.google.com/spreadsheets/d/1umIAmhn89WN1nzcHKhYJcv-n3Oj6ps1wITc-CjWYytE/edit#gid=0) spreadsheet with the folks at LoL that includes the sim descriptions, links to the sim, and links to the icons (stored on Drive).  The “Ready_To_Integr

[2017-11-02 16:41] #171 closed

[2017-11-07 18:43] samreid opened #178 "[Game Screen] Uninstrument unnecessary instrumentation"
In https://github.com/phetsims/build-an-atom/issues/156#issuecomment-324741883 we discussed the features we want to be instrumented for Build an Atom.  After we have a full PhET-iO design meeting about Build an Atom, we will need to go through and remove unused instrumentation.

[2017-11-07 19:59] zepumph commented on #156
@jbphet @samreid and I are feeling like this job is very complex because of disposal order in terms of view/model. One thought would be to try to instrument the next game under development, as it was being created, to help see if this was a unique challenge because of how BAA was implemented, or if this has to do with shortcomings of phet-io.

[2017-11-07 20:33] samreid opened #179 "Stars not saved"
Stars not saved

![image](https://user-images.githubusercontent.com/679486/32516276-05130336-c3c0-11e7-9ed5-4fc171256fdc.png)

[2017-11-08 17:21] zepumph commented on #156
I just found a bug where you do a whole level, and then I tried to start that level again:
`Assertion failed: challenges should be cleared before starting a new game`

[2017-11-08 18:53] jbphet commented on #156
Today we resolved some issues related to the reward node that is shown when a level is completed.  Next time we should work on making the stars update correctly in the level selection button (see #179) and then work on the problem where a new level can't be started once a level is completed.

[2017-11-08 21:29] samreid commented on #179
I noticed this code in `BAAGameModel.js`

[code]

It seems it may be better to reorganize this around the idea of each level.  For instance, something like:

[code]

[2017-11-08 21:30] samreid commented on #179
Next problem: the names of the levels are not amenable to tandemizing (they use hyphens instead of camel case):

[code]

[2017-11-09 00:09] samreid commented on #179
I tried tandemizing the Property values in the _.times but it did not solve anything.

[2017-11-09 00:11] samreid commented on #179
This code in BAAGameScreenView creates a snapshot of Property values and does not dynamically update, it may explain the disconnect:

[code]

[2017-11-09 02:32] samreid commented on #178
There are 51 instance proxies at the moment, several seem unnecessary.

[2017-11-13 14:15] samreid commented on #178
I skimmed through instance proxies and made a revision here and another in axon, but it will be best to review this with @jbphet as part of #156, on hold until then.

[2017-11-13 15:48] jbphet commented on #178
@samreid - I'd rather not have this assigned to me unless there is something that I need to do on it, but the "on-hold" label is applied to it.  Did you want me to review the changes that you just made?  Or are you asking me to take a pass through and uninstrument the things that are, in my judgement, not necessary to have instrumented for PhET-iO?

[2017-11-22 16:24] samreid commented on #156
It's been great to have @jbphet involved in this process, I'll unassign until we are collaborating on this again.

[2017-11-22 17:20] samreid commented on #179
It's been great to have @jbphet's help on this, I'll put on hold until we resume collaboration.

[2017-11-24 03:55] samreid commented on #178
I thought this would be good to collaborate on when we continue on #156.  I generally mark things as "on-hold" for things that need to be on my radar but not on my immediate to do list.

[2017-11-25 12:44] samreid commented on #153
@zepumph can this be closed?

[2017-11-25 18:13] #153 closed

[2017-12-18 18:33] oliver-phet opened #180 "User reported issue: +/- Ion symbol ordering."

[2018-01-04 17:19] phet-steele opened #181 "Assertion failed: mismatched messageIndex, possible start/end mismatch"
Complete a challenge (any?) on a game level (any?).

[code]

[2018-01-04 17:24] jbphet commented on #181
I suspect this is a phet-io thing, since I don't think anything else has changed.

[2018-01-05 21:43] jbphet commented on #181
This issue does not occur when running in RequireJS mode from phetmarks, which doesn't include phet-io.

It is easily duplicated by launching instance-proxies, selecting instance-proxies, mirror-inputs, screenshot, and probably any of the other phet-io wrappers, then starting the game and completing a challenge.  The assert statement is hit when the "Next" button is pressed.

I tried launching ins

[2018-01-05 21:43] samreid commented on #181
Sounds good, thanks!

[2018-01-07 05:07] samreid commented on #181
It looks like that mode does not include assertions, so it fails silently and likely disturbs the rest of the data stream.

[2018-01-07 05:17] samreid commented on #181
When the "next" button is pressed, it changes the state and disposes the next button.  The phetioEvents is expecting the state change message to end, but the button message ends first (because the button was disposed).

I cannot figure out whether (a) Build an Atom is doing something suspicious and PhET-iO is catching a potential problem or (b) PhET-iO is too restrictive and showing a false positi

[2018-01-07 05:24] samreid commented on #181
Proposed solution committed above.  I'd like @zepumph to take a closer look when he returns.  Note that adding phetioEvents.stack as an instance variable, then using the console wrapper is helpful to understand what is happening.

[2018-01-07 21:11] emily-phet commented on #140
@jbphet can this be closed?

[2018-01-08 18:45] jbphet commented on #140
Sure.  Closing.

[2018-01-08 18:45] #140 closed

[2018-01-10 01:38] zepumph commented on #181
@samreid I apologize I didn't get to this, leaving me assigned if it sits until Feb, otherwise back to you.

[2018-01-10 02:48] samreid commented on #181
No worries, we can look at this on your return.

[2018-02-08 17:26] pixelzoom opened #182 "branch: keyboard-nav"
Identified by `print-branches.sh`. Please describe.

[2018-02-08 17:26] pixelzoom opened #183 "branch: legends-of-learning"
Identified by `print-branches.sh`. Please describe.

[2018-02-08 17:26] pixelzoom commented on #183
Sorry, duplicate of https://github.com/phetsims/build-an-atom/issues/154. Closing.

[2018-02-08 17:26] #183 closed

[2018-02-08 17:37] jessegreenberg commented on #182
This branch was created to explore keyboard navigation in this sim. Prototype designs had a low probability of going to production so we elected to add them in a branch. A11y work on this sim has since stalled and is not likely to pick up again soon.

It would be good to keep this branch around for future reference, but it is pretty old now and may be quite stale by the time a11y work continues in

[2018-02-26 23:55] phet-steele opened #184 "SimTests: Event Indexing failed"
Occurs very irregularly.

[code]

[2018-02-27 01:38] samreid commented on #184
In local tests, I'm seeing `Uncaught TypeError: Converting circular structure to JSON` about half the time.

[2018-02-27 01:47] samreid commented on #184
I haven't seen any more trouble since the preceding commits.  @phet-steele can you keep an eye on Bayes CT and let me know how it goes?  Close if all is clear for a few days.

[2018-03-01 18:35] phet-steele commented on #184
Not appearing anymore.

[2018-03-01 18:35] #184 closed

[2018-04-13 00:27] zepumph commented on #181
I agree and it doesn't bother me. We have run into these sorts of problems before where something disposes itself before the phet-io messaging can finish. This seems like a fine workaround until we go back to this simulation.

[2018-04-13 00:27] #181 closed

[2018-04-24 17:37] jbphet opened #185 "Assertion occurs after completing a level and starting a new one"
If the user plays a level, completes it, then starts a new one, the following assertion occurs:
[code]
As of this writing, the SHA for the master version is 7dd6e27135751a4edcb7108113ad66acee1d780f, and this problem is coming from line 190 of BAAGameModel.js.

I believe this problem is closely related to work that was being done on the game in order to instrument it for PhET-iO.  That effort is be

[2018-04-24 17:40] jbphet commented on #185
By the way, I stumbled on this while working to address https://github.com/phetsims/vegas/issues/68.

[2018-04-24 17:46] jbphet commented on #156
Work seems to have ground to a halt on this effort, and there are some problems occurring due to the partially implemented code (see #185).  I'm going to reassign this to @samreid since he is the PhET-iO tech lead, and he can work with the powers that be to determine if and when work on this should resume.

[2018-06-07 18:34] samreid commented on #177
@jbphet and I checked the dependencies.json and found that 1.6.1 (on the website) is using joist/d4e70ec736d20cc04c072c6b84e47d651eb70977 which already has the fix.  Closing.

[2018-06-07 18:34] #177 closed

[2018-06-19 21:12] pixelzoom opened #186 "Assertion failed: Cannot register two different instances to the same id"
This error has been appearing off and on in CT for the past 2 days at least (CT was restarted on 6/18).

build-an-atom : phet-io-fuzz : require.js : run
Uncaught Error: Assertion failed: Cannot register two different instances to the same id: buildAnAtom.gameScreen.view.challenges_0View.countsToElementChallengeView.neutralAtomRadioButton.enabledProperty
Error: Assertion failed: Cannot register two

[2018-06-20 15:57] jbphet commented on #186
I haven't been doing anything in the Build an Atom code, and this looks like a phet-io issue.  Assigning to @zepumph to fix or reassign as appropriate.

[2018-06-27 21:53] JRomero0613 opened #187 "Third Game directs to second"
Test device: PC Laptop

Operating System: Windows 10 v. 1803

Browser: Chrome v. 67.0.3396.99

Problem description: When clicking on the third game on the game screen the user is redirected to the second game rather than the third game.

Steps to reproduce: Open the sim, navigate to game screen, and start the third game from the left, it will open the second game and not the third. As you can see

[2018-06-28 14:48] jessegreenberg commented on #187
@JRomero0613 I actually think that  @jbphet is the responsible dev for this sim. But if there was another reason I was assigned this issue please let me know.

[2018-06-29 20:16] jbphet commented on #187
Nice catch @JRomero0613.  This was caused by a cut-and-paste error introduced in https://github.com/phetsims/build-an-atom/commit/cc95a35b78260e6c3373a9db4c25ef8b31888dcb.  I've fixed it, and also cleaned up the code to reduce duplication, which should help prevent something like this from happening again.  Closing.

[2018-06-29 20:16] #187 closed

[2018-07-06 17:36] pixelzoom opened #188 "change model to use 1-based level numbering"
In https://github.com/phetsims/vegas/issues/73 and https://github.com/phetsims/vegas/issues/75, the consensus was to make vegas use 1-based level numbering.   And that 1-based level numbering in the model may be advantageous for PhET-iO, but should be evaluated on a sim-by-sim basis.

Making the requested change for FiniteStatusBar proved to be complicated.  It has option `levelProperty`, which is

[2018-07-06 17:49] pixelzoom commented on #188
Here's this sim's usage of FiniteStatusBar, in BAAGameScreenView:

[code]

Because the level is not visible, there's no reason to provide option `levelProperty`.  So rather than add the DerivedProperty adapter described above, I'm going to simply remove the `levelProperty` option.

[2018-07-06 22:49] zepumph opened #189 "Cannot read phetioID of undefined"
This occurs in the state wrapper. Go to the game screen and then click the first level, it will give this error when trying to set the state.

[2018-07-06 22:58] chrisklus commented on #189
@zepumph and I removed .tandem that was accidentally included when referencing stateObject.

[2018-07-06 22:58] #189 closed

[2018-07-06 23:16] zepumph commented on #185
The commented out assertion from https://github.com/phetsims/build-an-atom/commit/c85709ab4bba2b7ca2abdec06b897b7b195e9418 seems to have only moved to downstream errors in the phet-io state wrapper. Today @chrisklus and I found an error when completing a level the following error:

```Assertion failed: Cannot register two different instances to the same id: buildAnAtom.gameScreen.view.levelComplet

[2018-07-07 00:03] zepumph commented on #185
@chrisklus and I were able to get the LevelCompletedNode and BAARewardNode to be properly disposed when restarting the state to "Choose you level." From here this exposed an error that I think links up pretty well to @jbphet's first comment in the issue:
[code]

so from here I think we are a bit closer to getting BAA game running in phet-io fuzz, but not yet.

[2018-07-09 20:42] jbphet commented on #188
The change looks reasonable, and I played a level of the game and everything looked fine.  Thanks, closing.

[2018-07-09 20:42] #188 closed

[2018-07-16 15:12] samreid opened #190 "Make atom radius constant available over PhET-iO API"
See https://github.com/phetsims/phet-io/issues/1108#issuecomment-293933250

[2018-07-16 15:13] samreid opened #191 "Make MAX_NEUTRONS available over PhET-iO API"
See https://github.com/phetsims/phet-io/issues/1108#issuecomment-298789516

[2018-07-16 15:16] samreid commented on #156
@ariel-phet can you comment on proposed timeline for PhET-iO API design and implementation for this sim?

[2018-07-25 06:10] ariel-phet commented on #156
@samreid I honestly cannot comment, and I do not know timeline. marking the issue as deferred for the moment until @kathy-phet decides it is a priority. My suggestion would be to revisit once @jbphet has published EFAC. Assigning you to be aware of that suggestion, feel free to clear assignees or get @jbphet to make a calendar reminder or such.

[2018-08-08 15:10] samreid commented on #156
@jbphet how do you feel about a calendar reminder for checking on this after EFAC?  We would start with a PhET-iO design process, deciding on the PhET-iO specific features as a new first step.

[2018-08-08 15:29] samreid opened #192 "PhET-iO state for PeriodicTableCellIO.js"
From https://github.com/phetsims/phet-io/issues/1214#issuecomment-411447622

When we resume work on Build an Atom in phetsims/build-an-atom#156 we will decide whether or not PeriodicTableCellIO even needs x/y values and, if it does, we could add them to the state through toStateObject or nested properties. I'll close this issue and open a new one for PeriodicTableCellIO.js.

[2018-08-08 16:31] jbphet commented on #156
I've added a calendar reminder for next Jan, since that's when EFAC is supposed to be out.  Unassigning for now.

[2018-08-09 03:35] ariel-phet commented on #185
@samreid does not have time to work on this right now. @chrisklus this seems like a good task for your iO learning, and since this is a @jbphet sim he can help where needed.

[2018-09-21 01:20] samreid opened #193 "PhET-iO Automated Testing Error"
Bayes CT is offline now, but earlier today build-an-atom reported a PhET-iO error.  @zepumph and @samreid bravely volunteered to investigate.

[2018-09-27 16:52] KatieWoe commented on #193
@samreid looks like this may be the issue.
[code]

[2018-10-02 15:29] jessegreenberg opened #194 "fuzzBoard error with setAccessibleAttribute"
[code]

While testing fuzzBoard, I encountered this error in build-an-atom.

[2018-10-02 16:31] jessegreenberg commented on #194
This code looks very  old
[code]

[2018-10-02 21:28] jessegreenberg commented on #194
Ill remove the current usage of self.setAccessibleAttribute( 'aria-activedescendant', nextElementId );, and we need to remove the references of accessibleId. We should use a map instead that maps from active option to focus highlight.

[2018-10-03 15:51] jessegreenberg commented on #194
Removing aria-activedescendant showed another problem with the way that focus highlights are updating. Ill make an issue in scenery.

[2018-10-03 17:00] jessegreenberg commented on #194
This is no longer occurring with fuzzBoard.

[2018-10-03 17:00] #194 closed

[2018-10-11 03:20] samreid opened #195 "Promote EmitterIO args to top level"
As described in https://github.com/phetsims/axon/issues/184#issuecomment-428770937.  We would like to specify the emitter args like so: https://github.com/phetsims/axon/issues/184#issuecomment-428775196.  We are doing something similar for arithmetic, see https://github.com/phetsims/arithmetic/issues/187

Leaving unassigned until we revisit this sim.

[2018-10-26 14:51] KatieWoe opened #196 "CT: Cannot set property 1 of null"
[code]

[2018-10-29 16:38] jessegreenberg commented on #196
https://github.com/phetsims/axon/issues/192 has been closed, and build-an-atom looks good on Bayes CT. This can be closed as well.

[2018-10-29 16:38] #196 closed

[2018-11-19 02:17] samreid commented on #193
This suggests a missing `dispose` function in  `countsToElementChallengeView`.  However, I am not seeing this in about 5 minutes of fuzz testing the game screen, nor do I see it on recent Bayes CT columns.

[2018-12-04 15:54] KatieWoe opened #197 "CT: iframe api failed"
[code]

[2018-12-04 15:59] jbphet commented on #197
I haven't done anything recently on this sim, and `phetioDocumentation` seems to be at the core of the issue.  Assigning to @zepumph.

[2019-01-14 18:02] jbphet commented on #197
I'm raising the priority on this issue since it's been happening for over a month, and I'm the responsible dev for this sim, and it's bothering me that it is frequently failing CT.

[2019-01-14 18:03] jbphet commented on #197
@zepumph - please let me know if there is something I can and should do to help resolve this issue, or if we need to get someone else on it.

[2019-01-14 18:47] zepumph commented on #197
I will not get to it until Wednesday, but I'll look at it then with @samreid.

[2019-01-14 18:49] zepumph commented on #197
Note that the current CT error is different from the above one:
[code]

[2019-01-16 22:51] zepumph commented on #197
The above commits plus the work done in phetsims/phet-io-wrappers#233 should have completely cleaned up build an atom. Let's create new issues if there are new errors.

[2019-01-16 22:51] #197 closed

[2019-01-16 23:43] zepumph opened #198 "Impossible set state in game screen"
There are many errors on the Build An Atom game screen as they pertain to state. Many of them are disposal issues with tandem, but some have to do with setting the state.

@samreid and @zepumph decided that we don't think it is the best use of our time to try to fix all of the broken set state problems, since they are downstream of an "instrument everything" philosophy that we are no longer lookin

[2019-01-17 00:17] zepumph commented on #198
The above commits are how far @samreid and @zepumph got before we decided to just turn off testing the game screen for the state wrapper. This should be removed when we revisit this sim with thoughtful API design. That commit to come.

[2019-01-17 00:31] zepumph commented on #167
That is because the game screen was removed. for that release.

[2019-01-17 00:34] zepumph commented on #198
Tagging @jbphet so that he is aware that we gave up on trying to get the state wrapper to run successfully in the wrapper fuzzing. I also want to note that this has never worked. I remember spending many hours adding disposal through challenges, but never made it all the way through.

We will revisit what specifically needs to be in the state as part of the redesign.
For not I would like to assign

[2019-02-11 16:04] samreid opened #199 "Convert usages of `get Node.disposed` to use `Node.isDisposed`"
From https://github.com/phetsims/scenery/issues/899, we would like to be consistent about using `isDisposed` instead of `disposed`.  Some cases in Build an Atom declare their own subtype attribute for disposed, even though they extend a type that already tracks `isDisposed` such as `Node` or `PhetioObject`.   See also comment in https://github.com/phetsims/scenery/issues/899#issuecomment-462371251

[2019-02-14 21:35] jbphet commented on #199
Investigated, changed usages of `dispose` to `isDisposed`.  I don't think this requires a review, but @samreid is welcome to take a look if he'd like.  Closing.

[2019-02-14 21:35] #199 closed

[2019-02-21 23:41] jbphet commented on #198
Thanks for the update, and I'm aware that the state wrapper isn't working for the game.  I briefly looked over the commits above.  Several of them are for the phet-io wrappers, and some for qunit testing, which I don't know much about.  I assume they're fine since BAA isn't failing any tests.  Closing, and I guess we'll get back to figuring out how to handle games in phet-io sometime in the future

[2019-02-21 23:41] #198 closed

[2019-03-05 17:26] jessegreenberg opened #200 "Corner radius of mass number accordion box too large"
Just noticed while working on an unrelated issue, most likely related to https://github.com/phetsims/sun/issues/480

![image](https://user-images.githubusercontent.com/6396244/53824330-b4305000-3f41-11e9-9bce-b3642edbf3f4.png)

[2019-03-06 22:34] jbphet commented on #200
Fixed, thanks for noticing this @jessegreenberg.  Closing.

[2019-03-06 22:34] #200 closed

[2019-04-10 16:07] KatieWoe opened #201 "Usability on Small Screen Review"
Per @kathy-phet's request in https://github.com/phetsims/QA/issues/295 I am making issues in each published sim repo detailing the pointer areas and usability of sims on phone sized screens.  Done on an iPhone 7 iOS 12 device.

Potential Difficulties Noticed:
* Orbits and Cloud radio buttons can be difficult to press.  No pointer areas to determine exact size
* Trying to select parts of the period

[2019-04-17 20:46] arouinfar commented on #201
The text label should be included as part of the pointer areas for all radio buttons, including those appearing in the game.

The checkboxes in the "Show" panel already include the text, and don't really have any obvious way to increase the touch areas. Testing on my phone, these seem pretty usable, so I think we can leave it as-is.

For the `ExpandCollapseButton`, it looks like there's enough roo

[2019-06-01 22:05] pixelzoom opened #202 "is TODO.txt vestigial?"
Everything in TODO.txt is marked "done".  Can it be deleted?

[2019-06-03 16:48] jbphet commented on #202
Yes, it can go, and I just removed it.  Thanks for pointing it out, closing.

[2019-06-03 16:48] #202 closed

[2019-06-26 14:49] KatieWoe opened #203 "CT should not be called if disposed"
[code]

[2019-06-26 19:46] jbphet commented on #203
This issue happened three times, and hasn't happened since.  The root of the stack is in `A11yPointer.js` in the 'blur' function, so this seems like this is accessibility related.  I looked at that file and some others that are related and didn't see any recent changes.  I also fuzz tested locally for ~20 minutes without hitting this issue, so I'm not sure where to go with it from here.

@jessegre

[2019-06-26 20:01] jessegreenberg commented on #203
Thanks, this is a11y related, I will take a look. I was able to hit it after running the sim with ?fuzzBoard&a11y, but it still took a while (~4 minutes of fuzzing in the background).

[2019-06-26 20:06] jessegreenberg commented on #203
The trace looks different than what was reported when I hit the issue:

![image](https://user-images.githubusercontent.com/6396244/60211046-3cf23500-982c-11e9-90e2-b0c4e923bf8a.png)

[2019-06-26 20:27] jessegreenberg commented on #203
I found that this can be reproduced just by clicking the "Next" button with a spacebar in the game screen.

[2019-06-26 20:30] jessegreenberg commented on #203
This has likely always been an issue but the assertion was added somewhat recently for https://github.com/phetsims/axon/issues/242.

[2019-06-26 21:06] jessegreenberg commented on #203
There are two ways to hit this currently -
1) The PressListener can be disposed before PressListener.interrupt is called internally by scenery because the button receives a blur event, and on blur interruptInput is called.
2) The PressListener can be disposed before the end of `_a11yLooksPressedInterval` when the button disposes itself.

[2019-06-26 21:11] jessegreenberg commented on #203
The buttons are working after the above commit, and I haven't seen the issue show up while running ?fuzzBoard. Ill check again after a few CT iterations and then close if it doesn't show up again.

[2019-07-01 19:43] SaurabhTotey commented on #201
I believe I have implemented the changes regarding expand/collapse button sizing and the sizing of the ToElementChallenge in master. I changed the game's periodic table from a scaling of 0.85 to a scaling of 1.02. The expand/collapse buttons have their touch dilation increased from 8 to 12.

As for the issue of the Orbits and Clouds radio buttons, they seem to be instances of common-code AquaRadio

[2019-07-01 21:48] arouinfar commented on #201
This is all looking really nice @SaurabhTotey!

No need to make the bounds of the  pointer areas visible, but glad to confirm the text is part of the touch area. Thanks @SaurabhTotey.

[2019-07-02 22:42] zepumph opened #204 "API mismatches present"
Looks like some tandems changed and crashed the phet-io version of the sim.

[2019-07-02 22:44] zepumph commented on #204
Fixed by running `grunt update` which regenerated the PhET-iO baseline api. Tagging @SaurabhTotey because he committed the change. A great way to catch this is the launch the sim in phet-io standalone mode, in phetmarks or with query parameters `?brand-phet-io&phetioStandalone`. Over to @SaurabhTotey to review.

[2019-07-02 22:50] zepumph commented on #204
Please see https://github.com/phetsims/phet-io/issues/1443#issuecomment-484306552 for a verbose explanation of supporting the phet-io api for simulations.

[2019-07-03 01:40] SaurabhTotey commented on #204
Oh yeah, this is my bad. I believe I caused the issue while I was working on https://github.com/phetsims/shred/issues/22. I'll be sure to be more careful with changes that regard. Thanks for the heads up!

[2019-07-03 01:40] #204 closed

[2019-07-03 04:38] zepumph commented on #204
Not a worry, and thank you!

[2019-07-08 17:49] jessegreenberg commented on #203
Verified fixed, closing

[2019-07-08 17:49] #203 closed

[2019-09-13 21:42] KatieWoe opened #205 "CT phetioID"
[code]

[2019-09-16 17:43] jbphet commented on #205
On Slack, @samreid said that he had a potential fix.  Assigning to him.

[2019-09-16 17:44] samreid commented on #205
Thanks @jbphet, it looks like the potential fix is working nicely.  Closing.

[2019-09-16 17:44] #205 closed

[2019-10-17 01:57] huangjian199304 opened #206 "Uncaught TypeError: Cannot read property 'length' of null"
when is use Grunt to package these files, then use the nginx to start, but when i drag the proton from the bucket into the dash circle, i got this error and my web page was crashed. can anybody help me to check that?
![711](https://user-images.githubusercontent.com/32724076/66971626-8826a100-f0c4-11e9-97b0-4bc01cc56b0d.png)

[2019-10-17 01:59] huangjian199304 commented on #206
oh, forgot to say that, i got this error in first scene Atom

[2019-10-17 02:37] huangjian199304 commented on #206
@jbphet  @samreid

[2019-10-17 16:25] samreid commented on #206
I ran the `grunt` command and it built successfully:

[code]

Then I opened http://localhost/build-an-atom/build/phet/build-an-atom_en_phet.html in the browser and was able to drag protons into the atom.

Are you able to run http://localhost/build-an-atom/build-an-atom_en.html?brand=phet&ea locally?
Do you see any errors or warnings during the build?
Can you pull all repos to make sure everything

[2019-10-23 17:41] Im-Alex opened #207 "What is utterance-queue???"
I can´t run the program!! :(

[2019-10-24 15:56] jbphet commented on #207
It's a new repository that supports accessibility of the sims.  To remedy this situation, I suggest you first do a pull on the `perennial` repo, then run this script from the root directory of you PhET code: `.\perennial\bin\clone-missing-repos.sh`.  That should automatically pull everything you need.  Then run `.\perennial\bin\pull-all.sh`.  At that point you should (hopefully) be back up and run